[2020-11-29 16:59] geleeroyale opened #24 "How to delete the database?"
We have many test-entries in the database that should be removed. We should clear the database regularly as long as we are in heavy development.

I tried the approach that @jamespfarrell suggested which is to add this parameter to the server environment settings in `.env` - it should clear data on restart which worked in testing, but in testing and very strangely the data came back later:

`DB_DRO

[2020-12-02 11:20] geleeroyale commented on #24
![image](https://user-images.githubusercontent.com/317685/100866299-bddd4380-3498-11eb-99d8-3e8d81810ea5.png)

Got some answers from @jamespfarrell for this one. He suggests to comment out the funtion `seedDatabase()`

[2020-12-08 12:19] geleeroyale opened #28 "test github webhook2"

[2020-12-08 12:25] geleeroyale commented on #28
test

[2020-12-08 12:25] geleeroyale commented on #28
works

[2020-12-08 12:25] #28 closed

[2021-01-20 17:44] geleeroyale opened #16 "rename branch for staging deployment"
For consistency we should use a `staging` branch for the staging environment. Currently that branch is named `develop`

[2021-04-18 17:14] positonic opened #48 "Can't pull project owner data from the impact-graph"

[2021-05-10 15:40] divine-comedian opened #66 "Can't query Users projects - INTERNAL ERROR"
I'm trying to query information on a user's projects on -
https://mainnet.serve.giveth.io/graphql

and it's throwing an INTERNAL SERVER ERROR

![image](https://user-images.githubusercontent.com/67759413/117685690-276a2800-b184-11eb-9a18-2107f068e46e.png)

the user does exist and we can isolate the error specific to this if we remove `projects` from the query.

![image](https://user-images.githubus

[2021-05-13 18:05] WhyldWanderer opened #92 "Autopilot is not filling in project name correctly"
When i received the email notifying me about my donation, the project title is not autofilling correctly.

![image](https://user-images.githubusercontent.com/74267818/118167021-7235ab00-b3e3-11eb-8ded-555009a20d5c.png)

This is on live.

[2021-05-19 20:01] divine-comedian opened #97 "projects not sorting correctly on 'default' filter"
Testing next.giveth
Brave Browser clean cache and cookies

I'm on the project page and I am looking at project under the `default` sort filter. Assuming that this is based on quality score the projects don't seem to be sorting correctly.

![image.png](https://images.zenhubusercontent.com/5fff1c86d883b3d9a858ddbc/067b8db9-dd5a-4ec1-96c9-c08f29d73923)

According to our quality score metrics it shoul

[2021-05-27 17:33] divine-comedian commented on #92
for now the short-term solution is that we removed the project titles from the emails and left them a bit more vague.

[2021-06-08 14:50] mateodaza opened #76 "Edit and remove project updates"
Allow users to edit and remove their project updates

[2021-06-08 14:50] mateodaza opened #77 "Fix migration files"
this happens trying to run migration fails using npm run typeorm:cli -- migration:run

[2021-06-08 23:37] mateodaza opened #79 "Update seeds with new Project fields"

[2021-06-08 23:42] mateodaza opened #80 "Profile verification support on backend"
This epic will serve to describe many issues supporting [this](https://github.com/Giveth/giveth-next/issues/27)

- [ ]

- [ ]

[2021-06-09 13:16] mateodaza commented on #76
blocked by [this issue](https://github.com/giveth/impact-graph/issues/76)

[2021-06-10 08:05] namtel-hp opened #81 "SentryError: Invalid Dsn"
SentryError: Invalid Dsn

[2021-06-15 13:20] divine-comedian opened #86 "Add back in missing values from 'Project Created' Track call for Segment"
## 📋 Anything to add?

current track called calls the properties from an object called formattedProject in projectResolver.ts and returns to segment -
[code]

this is problematic because we're missing some important fields in order for autopilot and segment to work properly
we need to be capturing at least:

- project owner's email
- project owner's name
- project slug
- project title
- project ow

[2021-06-15 21:18] mateodaza opened #89 "Queries and Mutations Optimization"
Optimize database queries and possibly add indexes

This would improve response time and general UX on the frontend as these are the most frequently used queries

[2021-06-17 14:01] divine-comedian opened #91 "add tracker to deactivateProjects call"
We would like to notify users that their project has been deactivated, by an admin or someone on their account.

we need to create a analytics.track call for when the mutation happens in the impact-graph the information we need is sent to segment that can be passed along into an auotmated email informing the user.

in project.resolvers.ts this is the specific mutation we're looking at
[code]

and

[2021-06-17 14:15] divine-comedian opened #93 "Retroactive Qualityscore update for old giveth projects"
We have a bunch of projects that we're onboarded pre MVP and even a bit after that we're brought on before quality score was implemented, to my knowledge these projects do not have their quality score calculated correctly so even though they have lots of hearts, good descriptions, photos and the works they are currently sitting at the bottom of the project's pile.

We need to update these projects

[2021-06-17 14:22] divine-comedian opened #94 "fix track calls for project update - donor"
currently there are two analytic.track calls being sent to segment for when a project makes an update on giveth.io  from the giveth impact-graph. The intention is to eventually send emails to donors letting them know a project they donated to has an update.

one is for the project owner
and another for donors to the project. the problem is that a track call is being sent for every instance of dona

[2021-06-17 19:36] mateodaza commented on #97
![image](https://user-images.githubusercontent.com/18689480/122461425-f518cb00-cf78-11eb-8c3e-fbd6de388e98.png)

So, coming back at this. I checked the values and in this order the first one 'testing-another-project' has a 100 score just because it has a lots of updates even when it has almost none donations compared to 'agenda2030' and 'Giveth 2021', this projects have 80 as score.

The sorting i

[2021-06-17 19:41] mateodaza opened #96 "Some donations are not being tracked because of a segmentUserId problem"
Donations are not being saved for some (mainly old) projects because of a segment problem

![image](https://user-images.githubusercontent.com/18689480/122231963-7e98a200-ce80-11eb-8e25-e7f977a3aa4c.png)

 @divine-comedian you have some idea?

btw this test was making a donation to Giveth's project

_Originally posted by @mateodaza in https://github.com/Giveth/giveth-next/issues/87#issuecomment-862

[2021-06-17 20:21] divine-comedian commented on #97
let's transfer this to the impact-graph.

Maybe going forward we should make updates worth much less than hearts. It would be easier for projects to spam updates than getting unique hearts from other users in order to reach the maximum quality score

[2021-06-18 05:55] cquinterom096 commented on #77
Currently the project seems to be setup to sync with the entities completely. This leads to migrations not being run and some being redundant. I am somewhat unsure how to proceed here.

Would like to ask for some insight on how the project is managing database changes.

[2021-06-18 13:58] divine-comedian commented on #91
Once we can test this on staging and hook it up to autopilot and ensure the flow works as intended we can close this one out!

[2021-06-18 13:59] divine-comedian commented on #93
this is another old one that hopefully we can put away in the future @cquinterom096

[2021-06-18 14:00] divine-comedian commented on #94
another loose end I'm hoping to tie up with assistance from @cquinterom096 in the future.

[2021-06-21 13:50] divine-comedian commented on #93
This is the js file that @jamespfarrell  built
https://github.com/Giveth/retro-price/blob/main/updateQualityScore.js

I'm not entirely sure what's left to complete this or how it's supposed to be implemented but this what I have.

[2021-06-25 21:02] mateodaza opened #101 "Donations from logged in users are being saved but not assigned to them"
The issue happens on mutation 'saveDonation'

This shows on staging while reproducing this

![image](https://user-images.githubusercontent.com/18689480/123484949-c9c45a80-d5ce-11eb-9a0b-18ef0e350c0f.png)

Nevermind this image^^ that's because my domain isn't being whitelisted from our node

[2021-06-29 14:23] divine-comedian opened #107 "add USD value of donations received into analytics"
We want to add in the USD value of donations made to our analytics so we can track and analyse them more easily.

currently we're getting prices in the saveDonation method

[code]

 and we need to incorporate that into:

[code]

[2021-06-30 15:03] divine-comedian opened #108 "Creating analytics tracker for when a new user is registered"
We would like to send information to segment for whenever a new giveth user id is registered.

this needs to be implemented in the code on the impact-graph and the necessary information needs to be received by segment

[2021-06-30 22:00] cquinterom096 commented on #94
Let me know if you need anything else. I think it can be tested now.

[2021-07-04 16:03] divine-comedian commented on #101
testing on next.giveth
brave browser clean cache and cookies

no issues making a donation, they show up correctly on the UI..
![image](https://user-images.githubusercontent.com/67759413/124391486-d592d980-dcbe-11eb-9d58-c2680250c44b.png)

and it shows up in the backend on staging...
![image](https://user-images.githubusercontent.com/67759413/124391675-cf512d00-dcbf-11eb-8833-8b738da0a91f.png)

[2021-07-04 16:49] divine-comedian commented on #76
edited update successfully!

![image](https://user-images.githubusercontent.com/67759413/124392666-083fd080-dcc5-11eb-9352-723b53211b46.png)

project deleted successfully!
![image](https://user-images.githubusercontent.com/67759413/124392956-2bb74b00-dcc6-11eb-85c0-a3d05198fc15.png)

YAY!

[2021-07-04 17:42] divine-comedian commented on #86
segment successfully captures the requested information when creating a project on next.giveth
![image](https://user-images.githubusercontent.com/67759413/124394483-a6d02f80-dccd-11eb-9fc8-e518c650f47d.png)

[2021-07-04 17:48] divine-comedian commented on #96
are there any projects in particular that we can test this issue on? @cquinterom096

[2021-07-06 16:43] mateodaza opened #113 "Project slug is changed after an edition occurs"
following this [issue](https://github.com/Giveth/giveth-next/issues/122)

the slug adds a '-1' after the project is edited

[2021-07-06 16:51] mateodaza opened #114 "Save user's DID from ceramic and add a verification relationship on database"
We want to verify user's identity on different web 2 social networks using services like 3box or self.id through idx/ceramic

For this we would like to save the DID and where did the user verified its identity

A new table for the users is needed, to relate the DID, platform, protocol, claim and attestation for example:

user: 1
did: did:3:kjz123...456
protocol: 3box
platform: "twitter"
claim: "ht

[2021-07-06 19:11] mateodaza opened #115 "Set prefetching of routes EVERYWHERE that is possible"
title self explains

[2021-07-06 19:12] #115 closed, assigned to mateodaza

[2021-07-06 19:12] mateodaza commented on #115
Issue moved to [Giveth/giveth-next #136](https://github.com/Giveth/giveth-next/issues/136) via [**ZenHub**](https://www.zenhub.com/)

[2021-07-07 14:50] cquinterom096 opened #117 "Optimize Analytics Tracking Calls"
This is a Quality of Life change.
Right now Analytics tracking methods are being called in the main code/mutations, this is an issue because it slows down the backend from answering the frontend and if the tracking break, it breaks the whole code.

Solutions:
1. Refactor Tracking calls into it's own module / methods / classes so it's not spread out through the whole code base.
2. Move tracking cal

[2021-07-08 12:58] divine-comedian commented on #107
testing this on `next.giveth.io` and segment
I made donations signed in on MM, signed out - anonymously and as well with Torus.
We appear to capture the information correctly.. and it arrives into amplitude

and now we can analyze our donations, separatively or cumulatively ..

![image](https://user-images.githubusercontent.com/67759413/124924457-7a682c00-dfc9-11eb-8bf5-6c3b34fed21e.png)

[2021-07-08 13:02] divine-comedian commented on #107
and the donations save on the backend!
![image](https://user-images.githubusercontent.com/67759413/124926194-39711700-dfcb-11eb-9368-59440faab09c.png)

[2021-07-15 13:32] divine-comedian commented on #96
bumping comment for testing - @cquinterom096  @MoeNick

[2021-07-21 07:59] MoeNick commented on #96
@mateodaza @cquinterom096
are there any projects in particular that we can test this issue on?
Would u pls update mitch?

[2021-07-23 03:56] cquinterom096 commented on #96
@mateodaza has access to the projects in production and we would have to fix their slugs manually, there seem to be 1-3 approx.
However you could reproduce de issue following the other issues created.
Create a new project -> edit the address -> try to search it by slug. (The issue shouldn't occur)
Staging has my changes, Mateo deployed them.

[2021-07-28 16:58] WhyldWanderer commented on #113
This seems to be an issue that many users are experiencing. The are multiple people in the Discord having problems with it.

Can we prioritize this issue?

[2021-08-09 14:34] MoeNick commented on #96
@divine-comedian can u pls test and approve it's done?

[2021-08-09 17:46] divine-comedian commented on #96
Following my comment above from almost a month ago.. I still don't have any more information on how I can test this issue

[2021-08-10 12:52] mateodaza commented on #89
I discussed with @cquinterom096 and there are a couple of things that still need optimization

- [ ]  Validation on queries and mutations, some flows are wrong. For example you can create project with empty fields that are important.

- [ ] Optimize response time on heavy queries, consider making previous calculations when is possible.

[2021-08-10 12:55] mateodaza opened #121 "Optimize quality score formula"
We are still discussing what an ideal quality score calculation is in this [thread](https://forum.giveth.io/t/make-our-giveth-io-dapp-more-resilient-before-giveconomy-deploy/73)

According to our conclusions there I'll update this issue

[2021-08-10 12:57] mateodaza opened #122 "General security checks"
- Rate limit
- Be sure we are ready for DoS attacks
- Anything that comes to mind

[2021-08-10 14:57] mateodaza opened #124 "Add 'listed' and 'unlisted' properties to projects"
First basic issue on just adding a new column or value for the projects to see if a project is listed or unlisted. Every new project will be unlisted by default

Also, we should save the reasons a project was unlisted. For example
- in review
- doesn't follow the quality criteria
- cancelled by owner

[2021-08-12 02:17] mateodaza opened #126 "Add up totalDonations and totalHearts column when values are updated"

[2021-08-19 19:44] divine-comedian commented on #77
deep in the matrix today with @cquinterom096  I made some observations on the migration files -
I was able to successfully run all migration files by making a couple modifications.

I commented out the first query send in each file  - EXAMPLE:
in `migration/1612547269219-UpdateUserEmailUnique.ts`
[code]
I did this for all migrations. Specifically however in seedProjectStatus it gets a bit spicy

[

[2021-08-23 14:56] MoeNick commented on #117
@divine-comedian @cquinterom096 shall we start this?
is it needed to be more clarified?

[2021-08-31 17:37] divine-comedian commented on #113
testing out projects changing the title and checking the slug

https://next.giveth.io/project/what-happens-now

https://next.giveth.io/project/testing-the-title-change

unless there are any edge-cases this seems to work as intended? I suppose another question is that since the slug is changing will any old links forward to their new project? @mateodaza

[2021-08-31 18:13] divine-comedian commented on #94
testing this out on `next.giveth.io`

I tried to make a bunch of updates to my projects and I get a very frequent error of 'cannot read property 'id' of null.

However,  my  project updates goes through and it sends the info to segment. The problem is however that only the project owner track call is made and nothing is sent for the donors to segment. I think this is an edge case related to the pr

[2021-08-31 18:33] divine-comedian commented on #94
I did however test this out on a project which did not throw me the 'id' property error and I simulated multiple donations - It did seem to show up okay on the impact-graph which have one unique donor call for each donor, not for every donation.

https://next.giveth.io/project/change-my-project's-name

[2021-09-07 16:40] MoeNick commented on #94
@divine-comedian so do you think we can approve it as done?

[2021-09-07 23:39] mateodaza commented on #121
currently being discussed [here](https://forum.giveth.io/t/revise-quality-score-for-projects-on-giveth-io/104/9) so blocked until we decide what to change the calculations

[2021-09-07 23:45] mateodaza opened #160 "The Giving Block integration"
Integrating the Giving Blocks API requires
- [x] Giveth/impact-graph#155
- [x] Giveth/impact-graph#156
- [x] Giveth/impact-graph#157
- [x] Giveth/impact-graph#158
- [x] Giveth/impact-graph#159

[2021-09-08 01:25] cquinterom096 commented on #160
@WhyldWanderer @mateodaza Updated! I think those are the tasks. What do you think?

[2021-09-08 01:27] cquinterom096 opened #156 "Implement the Giving Blocks endpoint to fetch projects and most of the their information."

[2021-09-08 01:28] cquinterom096 opened #157 "Implement a Web Scraper that extracts the description of the project from the GivingBlocks Website."

[2021-09-08 01:28] cquinterom096 opened #158 "Create a unique and single wallet per GivingBlocks Project for making donations on the Giveth Website."

[2021-09-08 01:28] cquinterom096 opened #159 "Create a task that can be rerun for extracting proyects from the Giving Blocks API"

[2021-09-17 04:49] mohammadranjbarz opened #132 "doesnt return reactions in project list and totalHeart is wrong too"
As you see the project https://giveth.io/project/the-giveth-community-of-makers has 97 hearts
![Screen Shot 1400-06-26 at 09.14.42.png](https://images.zenhubusercontent.com/5fa7ed7fb0994323d1a66034/8a74f03c-10da-4559-ab0f-08099d5544e8)

but in homepage it shows 90 , that is wrong ![Screen Shot 1400-06-26 at 09.16.37.png](https://images.zenhubusercontent.com/5fa7ed7fb0994323d1a66034/9bc726f7-4a0e-4

[2021-09-19 13:12] mohammadranjbarz commented on #132
@MoeNick you can test this issue by going to https://serve.giveth.io/graphql

and enter
[code]
So click on Play button,
Then you should see the `reactions` field as an array, not null

[2021-09-20 09:33] mohammadranjbarz opened #136 "Migrate CI/CD from circleci to github actions"
I think it's better to have unified CI/CD integration, if we use GitHub actions we can see the pipelines in github,
it's not needed to access users to circleci to wee jobs ( it's extra work)
As I talked with @aminlatifi  we should change it to github actions

@MoeNick pls check this issue priority

[2021-09-20 09:37] mohammadranjbarz commented on #66
@divine-comedian pls test this in this url https://serve.giveth.io/graphql
with this query

[code]
and if it was ok please tell @MoeNick  to move this to `Done`

[2021-09-20 13:36] mateodaza commented on #66
The problem is particularly on the production database, I'm checking what's wrong with those users and then improve that query

[2021-09-20 13:38] mohammadranjbarz commented on #66
@mateodaza  No it was in staging as well, after deploying PR it resolved, please see https://github.com/Giveth/impact-graph/pull/135#issue-737120234
(it existed even in my local system)

[2021-09-20 18:33] divine-comedian commented on #66
user projects seem to be returning data now!

![image](https://user-images.githubusercontent.com/67759413/134055485-fa736296-dc2e-40cc-b8e1-972a5bc4f739.png)

no errors, hopefully pushing this to productions will solve the problem

[2021-09-20 19:03] divine-comedian commented on #132
Testing this issue out
`next.giveth.io`
clean cache and cookies

I can see the array from the query is returned with the user IDs who reacted/hearted each project.

Is this issue going to fix the discrepancy between  the hearts shwon on the projects lists and the hearts shown on the actual project page? Currently there are still differences ...
![image](https://user-images.githubusercontent.com/67

[2021-09-20 19:14] MoeNick commented on #132
@mohammadranjbarz it's not passed by @divine-comedian back to inprogress.

[2021-09-21 00:06] mateodaza opened #138 "Admin Dashboard Integration with AdminBro framework"
Related to #207
Test scenarios of listing are there.

[2021-09-21 04:27] mohammadranjbarz commented on #132
@MoeNick
Sorry it's my mistake, because I made two issues one for backend, one for frontend, and this is for backend side, but the frontend PR is still in code review, So I put back this to codeReview after merging frontend RP I would move both frontend and backend issue to UAT column

[2021-09-21 09:39] mohammadranjbarz commented on #113
@divine-comedian
Now we save the slug history of user, so if you change your title ( and your slug as a result) , we have your previous slugs so the old links are valid,
you can test it in this way, create a project, change the title , and then the new links and old links( means old slug) should refer to same project , like below links the two of them are referring to same project

https://next.gi

[2021-09-21 10:05] MoeNick commented on #113
💪💪👏 @mohammadranjbarz

[2021-09-21 11:00] MoeNick commented on #114
Can I test it?  any ideas ?
btw, It was an old requests that we decide to postpone it. we may ask @cquinterom096 to sync more about priorities if he's still participating in project.

[2021-09-21 11:17] MoeNick commented on #138
Acceptance criteria - an admin user can:
0- Login and log out with its own wallet
1- See all projects
2- Sort, search and filter within title, create date, project manager, and status of listig, verification and activeness
3- See score of the projects as hearts etc...
4- see listing, verification and activeness of the projects in list and in detail of a project
5- change listing, verification, act

[2021-09-21 11:19] MoeNick commented on #138
@mohammadranjbarz the number 6 above, is the matter we talked about it. we have a hack-sesh about this on Wed. pls updated the card right after the meeting or feel free to add related issues to this card.

[2021-09-21 19:22] divine-comedian commented on #66
@mohammadranjbarz  can you ping me when this has been merged to master so I can carry out the task I need to do with the  prod Database?

[2021-09-22 03:38] mohammadranjbarz commented on #66
Sure mitch,
I dont know whats our release plans for now, but I'll let you know

[2021-09-22 04:36] mohammadranjbarz commented on #132
@divine-comedian
You can test this issue again, this issue and Giveth/giveth-next#228 are related, and both of them are in UAT test column

[2021-09-26 04:41] mohammadranjbarz opened #145 "User can activate his projects , no matter what is current status (even rejected)"
I think it has logical issues, if we reject a project  still user can go to edit page and activate the project,
@MoeNick is it ok?

[2021-09-26 08:54] mohammadranjbarz commented on #66
@divine-comedian
It's in production now

<img width="1349" alt="Screen Shot 1400-07-04 at 12 23 38" src="https://user-images.githubusercontent.com/9850545/134800850-3b57d9d6-9534-4f17-85bc-cb15301d1edf.png">

[2021-09-26 17:05] divine-comedian commented on #66
thank you man! thanks for pushing this out so quickly

[2021-09-27 08:35] mohammadranjbarz commented on #136
@aminlatifi  @MoeNick  Now the config has been setup and github actions is completely replaced by github actions and works on staging

![Screen Shot 1400-07-05 at 12.03.31.png](https://images.zenhubusercontent.com/5fa7ed7fb0994323d1a66034/541421eb-93ec-473c-9903-bc0b0feb10e9)

[2021-09-28 07:42] aminlatifi commented on #136
Thanks man

[2021-09-29 17:46] divine-comedian opened #147 "create segment call for when a project is listed"
Add in a segment call when a project's listed status === `true`

we will link this into an email on autopilot notifying the project.

[2021-10-02 13:49] mohammadranjbarz opened #149 "Can't fetch project by slug, when slug contains special characters like quotation"
this issue was discovered from Giveth/giveth-next#173

![Screen Shot 1400-07-10 at 17.18.50.png](https://images.zenhubusercontent.com/5fa7ed7fb0994323d1a66034/1512c8fe-bd67-41f6-b948-9f438649aafd)

[2021-10-03 08:00] mohammadranjbarz commented on #149
@divine-comedian  @MoeNick
You can test it now, it's ok
https://next.giveth.io/project/jesus-thinks-you're-awesome

[2021-10-03 08:29] mohammadranjbarz opened #151 "Return appropriate error message and status code when project not found by slug"
related to Giveth/giveth-next#274

[2021-10-03 11:40] mohammadranjbarz opened #170 "Return all data that front need for project detail page in an endpoint"
In giveth-next when leading the project detail page the client call multiple requests continuous to get the page needed information you can see the front code here

https://github.com/Giveth/giveth-next/blob/mateo-mig/pages/project/%5Bslug%5D.js#L45-L91

@RamRamez  wants a query from backend then we can return all needed data for him, then he can just call one endpoint and then render the page.
@C

[2021-10-04 00:17] divine-comedian commented on #149
the project shows correctly and same with other projects that have `'` in them. However I tried to create a new project with apostrophes `'` in them and was thrown an error saying I can't use special characters in my project title.

![image](https://user-images.githubusercontent.com/67759413/135778114-9159a6b5-312f-4c56-8391-30d174d823fb.png)

However I can edit my project title after it's been cr

[2021-10-04 08:43] mohammadranjbarz commented on #149
@divine-comedian As I understood the business says we should not allow special characters, so we should check project title in edit form like how we do in create form,
I just create another issue for that
Giveth/giveth-next#280

[2021-10-05 20:10] #79 closed, assigned to cquinterom096

[2021-10-05 20:10] #91 closed, assigned to divine-comedian

[2021-10-05 20:15] #76 closed, assigned to cquinterom096

[2021-10-05 20:15] #86 closed, assigned to nobody

[2021-10-05 20:15] #107 closed, assigned to divine-comedian

[2021-10-05 20:17] mateodaza commented on #89
closing this one as we have a new issue on it

[2021-10-05 20:17] #89 closed, assigned to cquinterom096

[2021-10-05 20:18] mateodaza commented on #94
@divine-comedian confirm to close this please

[2021-10-05 20:18] #124 closed, assigned to cquinterom096

[2021-10-05 20:18] #96 closed, assigned to mateodaza, cquinterom096, divine-comedian

[2021-10-05 20:34] mateodaza opened #152 "Add Segment events to bulk actions on adminbro"

[2021-10-05 20:35] mateodaza commented on #138
We are only missing the segment actions, created an issue for it [#152]([https://github.com/Giveth/impact-graph/issues/152])

[2021-10-05 20:37] mateodaza commented on #114
This needs frontend integration, it was delayed because of priorities

[2021-10-05 20:40] mateodaza commented on #136
Loving thissss

[2021-10-05 21:06] laurenluz opened #168 "GIVbacks - use on-chain data to calculate GIVbacks"
@mohammadranjbarz creating things issue as per your comment in the dev call! we don't want users to be able to "game the system" by using just the APIs to determine donation amounts and therefore GIVback allocations.

Want to use on-chain data for this.

Keep us posed here if you have any updates.

[2021-10-05 22:31] mohammadranjbarz commented on #168
Thanks for creating this issue
I would set updates here

[2021-10-06 10:11] MoeNick commented on #138
Who did test it @mateodaza ?

[2021-10-06 13:25] MoeNick commented on #89
@mateodaza where are the related issues ? would u pls mention them.
I know @mohammadranjbarz creates some under technical debt epic

[2021-10-06 13:28] mohammadranjbarz commented on #89
I added these two issues, but we should add more by the time
Giveth/giveth-next#279
Giveth/giveth-next#278

[2021-10-07 15:38] divine-comedian commented on #94
yes this is done

 I just retested it quickly

[2021-10-11 13:25] laurenluz commented on #168
verifying on backend that the tx has gone through

[2021-10-12 18:48] MoeNick commented on #147
Where is the PR?

[2021-10-13 12:43] mohammadranjbarz opened #169 "Implement query to fetch donations by filter and should and it's better to work with sort"

[2021-10-13 17:03] mohammadranjbarz opened #163 "Allow user to sign over any network for getting token"
If we comment network cheking in front after signing message to get token we get error

![photo_2021-10-13 20.29.33.jpeg](https://images.zenhubusercontent.com/5fa7ed7fb0994323d1a66034/a772d396-4c27-45d8-afe3-571177bf6eb8)

[2021-10-13 17:12] divine-comedian commented on #147
The PR is linked in the issue .... #148

[2021-10-13 17:22] MoeNick commented on #147
Would u pls connect your pr with issue? We need this for versioning

[2021-10-15 12:50] divine-comedian commented on #147
the PR is connected in linked pull requests....

[2021-10-15 20:49] MoeNick commented on #138
@divine-comedian mention you here to test and make sure everything is set.

[2021-10-18 17:27] mohammadranjbarz commented on #163
@divine-comedian @divine-comedian  Test scenario for this issue is that you can login to your account with
Rinkbey, Mainnet, xdai, ...
before we were forcing user to sign login message over xdai network

[2021-10-18 22:26] divine-comedian commented on #163
testing on `next.giveth.io`

I can successfully sign in to giveth from MOST networks via metamask.
I tested all test networks (rinkeby,kovan,goerli,ropsten), xDAI, polygon, BSC, mainnet and was able to do it no problem

however when I tried on Avalanche (AVAX) the pop-up to sign-in came, I signed it. however I was not signed in and was stuck on this screen -

![image](https://user-images.githubuse

[2021-10-19 12:55] mohammadranjbarz commented on #163
Nice catch, it is fixed now and deployed
you can test it again on
https://next.giveth.io

[2021-10-19 13:03] divine-comedian commented on #163
successful log in on AVAX!

![image](https://user-images.githubusercontent.com/67759413/137914933-2c210f17-1044-4fdc-b3e5-28eaebea3def.png)

[2021-10-19 22:00] divine-comedian commented on #138
testing on the admin dashboard and `next.giveth.io`
brave browser, clean cache and cookies

**can only log in with username and password (instead of ethereum wallet address)**

I can see hearts and quality score of each project
sorting works great!

**can't see if the project is traceable from the admin dashboard**

successfully verify single/multiple projects

successfully unverify singe/multiple

[2021-10-21 12:47] MoeNick commented on #138
@mateodaza @CarlosQ96 ping you here again just to make sure we have a confirmation from mitch side.

[2021-10-21 12:50] MoeNick commented on #126
@divine-comedian ping to test

[2021-10-21 13:00] MoeNick commented on #138
If the problems are just related to trace, we can skip them, lemme have a talk with @WhyldWanderer to have a confirmation from her side.

[2021-10-21 13:08] mohammadranjbarz commented on #126
For `totalHearts` I believe it's not needed anymore because we use `reactions` relation and it works (https://github.com/Giveth/giveth-next/issues/228)
but for `totalDonations` I have no idea

[2021-10-21 15:07] divine-comedian commented on #126
sorry there's no context in this issue besides the description so I have no idea how/where to test this. @MoeNick

[2021-10-25 18:06] mohammadranjbarz commented on #152
@divine-comedian
it's ready for test

[2021-10-25 21:00] RamRamez opened #179 "Check duplicate title while editing"
Consider user have a project with the title of "my title" and he wants to edit the title to "My title", he get this error 'There is a project ...'.

related to [#317](https://github.com/Giveth/giveth-next/issues/317)

@mohammadranjbarz Can you check it?

![image](https://user-images.githubusercontent.com/73441857/138769532-93326209-f8e6-443b-a95c-d9ef89424173.png)

[2021-10-26 07:11] mohammadranjbarz commented on #179
@RamRamez Thanks Ramin , I hace created a new PR for fixing that

[2021-10-26 11:36] mohammadranjbarz commented on #179
@divine-comedian
Test scenario sample :  you can create a project with the title `test` and after that, you should change it to `TEst` on the edit page, you should not get error

[2021-10-26 12:49] divine-comedian commented on #152
can you provide more information on how to test this - I should list/unlist multiple projects on adminBro and check they appear on segment?

[2021-10-26 14:18] mohammadranjbarz commented on #152
Yeah exactly,
@CarlosQ96  Am I right?
could you add something if Mitch missed?

[2021-10-26 17:03] divine-comedian commented on #179
testing on `next.givethi.io`

I successfullly changed my project's title from "testing_" to "TESing_"

![image](https://user-images.githubusercontent.com/67759413/138926621-4d1743c1-91a1-4fa7-b473-f16d1f2ce017.png)

looks good?

[2021-10-26 17:16] mohammadranjbarz commented on #179
It's great,
this issue was just for this problem, so we can assume it's ok now

[2021-10-26 18:58] divine-comedian commented on #152
I have tested all of the actions (list/unlist/verify/unverify/activate/deactivate/cancel) in bulk and they do successfully appear in segment, however their seems to be a serious issue of not each instance arriving in segment.

For examples when I bulk list 10 projects someitmes only 9 events show up in segment, other times only 8, even as few as 6 events show up.

I tried lowering the number to bu

[2021-10-26 19:05] divine-comedian opened #182 "adminBro dashboard "delisted" status is confusing"
in the adminBro dashboard we have multiple different status and booleans we can change...

in the case of unlisting projects the button appears to have changed to `Delist Project` which triggers `Listed` to `false` or `No`.

however in the event of cancelling a project or `Cancel Project` it appears we are changing the status of the project to `delisted` which is not the same thing as being unlist

[2021-10-26 19:06] divine-comedian commented on #182
inb4 @MoeNick  says "I told you so."

[2021-10-26 20:32] CarlosQ96 commented on #152
Hey @divine-comedian Ill double check if maybe we need to add a delay or an await so that it sends them all. Will let you know after I finish testing.

[2021-10-27 01:48] CarlosQ96 commented on #152
I have a question @mohammadranjbarz if analytics.track is a call to an external api, shouldn't this be a async function? we have it as a normal function in the analytics.ts

Maybe it works in most calls, because it's not an expensive call and before the request cycle ends, it answers. But in this case multiple calls do not manage to finish before the server moves on to the next nonblocking task.

[2021-10-27 03:52] CarlosQ96 commented on #152
Actually after doing some testing, it seems analytics-node batches the requests in memory to send the track payload sometime in the future. (we allow batching in prod and staging).

Subsequent requests from the batches.... seem to take a up to a few seconds max to be sent, however at the same time after 10 seconds the batch is flushed, so any message not sent is lost. _***(this is most likely the

[2021-10-28 14:02] MoeNick commented on #152
@CarlosQ96 do we need to take it back to in-progress, or make another issue?

[2021-10-30 15:23] mohammadranjbarz opened #183 "Make email and one of firstName and lastName required in update user"
This issue came from https://github.com/Giveth/giveth-next/issues/348#issuecomment-955021591

[2021-10-31 16:31] CarlosQ96 commented on #152
@MoeNick Currently tweaking the configuration of Segment Analytics. Seems that if we set a small batch of events to send at the same time it works fine. Testing with Mohammed.
I think we can make another issue, it's more related to segment than the actual cancel status of the projects.

[2021-11-01 13:04] mohammadranjbarz commented on #183
Currently @RamRamez  Doesn't let both `firstName` and `lastName` be empty in frontend, so no one can test this issue except Ramin

[2021-11-01 13:31] RamRamez commented on #183
@mohammadranjbarz It seems there is a problem and profile forms can't be submitted

![image](https://user-images.githubusercontent.com/73441857/139679649-7402d6a2-61d1-43c9-85b7-59e861b994be.png)

[2021-11-01 14:57] CarlosQ96 commented on #152
No nvm @MoeNick You are right this is the issue related to it. Ill move it back to in-progress.
Got the other issue mixed up

[2021-11-01 20:24] CarlosQ96 commented on #170
After checking the project details, projects with 900 donations like Giveth are taking over 3.8-4.5 seconds to load all that data. Now imagine if it had 400 project updates and reactions, this would keep getting worse.

Even if we move all to server side, we would be loading a lot of data in-memory, which isn't the best idea either under heavy traffic.

[2021-11-01 20:27] CarlosQ96 commented on #170
I have a few thoughts @RamRamez @mohammadranjbarz:

First, I think unifying everything into one endpoint is not the ideal way, as reactions, project updates and donations can grow indefinitely. I remember Mateo back in July removed the donations from the query because it was causing timeout errors on the impact graph.
Maybe if we upgrade to piñata pro plan this won't be an issue, not sure if @gele

[2021-11-01 21:10] CarlosQ96 commented on #170
@MoeNick @mohammadranjbarz @RamRamez
My two proposals are:
1. We keep them separated, but unify some, like so:
    - Project by slug will include the admin user. Right now Giveth-Next makes 1 extra request to retrieve 1 user which is redundant and adds latency.
    - Add pagination to the donations endpoint, we shouldn't need to retrieve the 900+ records in one go. This can include the totalCount

[2021-11-01 21:11] CarlosQ96 commented on #170
The Main bottleneck is the huge amount of donations and the images.
Images issue can be alleviated if we configure a CDN with piñata pro.

Keep in mind we can add cache to many of those graphql queries too.

Let me know if you guys have more ideas.

[2021-11-02 03:15] mohammadranjbarz commented on #170
@CarlosQ96
Thanks man
@RamRamez
I think adding pagination is the good one, but if frontend is slow because it just waiting for 4-5 requests to load, you can change the frontend structure to not wait for all those requests before loading page, so in this step we don't need to change backend, in the next step Carlos would add pagination for donations and project updates, and then you can use it.

@R

[2021-11-02 04:04] CarlosQ96 commented on #170
I agree.
I will be working on the pagination and removing the adminUser request, which will be added to the projectBySlug query.

[2021-11-07 20:10] mohammadranjbarz opened #193 "Bring back totalDonations and totalHearts fields and make them be updated"
We need to add these fields in the project entity, then when we want to sort by hearts or donations we can simply use it ( performance is much higher than joining when sorting by donations), and it's good when frontend wants to show the number of hearts of projects, and amount of donations

[2021-11-08 16:33] mohammadranjbarz commented on #168
@MoeNick
This is the issue that I said in Sync call
https://github.com/Giveth/GIVeconomy/issues/103

[2021-11-09 12:24] DonnaOftadeh opened #242 "Admin panel - pagination : it is nice to have two arrow mark which takes the user to the last and first page on the project list"

[2021-11-09 12:29] DonnaOftadeh commented on #242
![image](https://user-images.githubusercontent.com/53400757/140924374-8cad2cde-7281-4d4d-841f-6f6902647432.png)

[2021-11-10 05:12] mohammadranjbarz commented on #170
It's now ready for test and I think @RamRamez  can approve this, @CarlosQ96  has implemented 2 queries that you can use it in project detail page to optimize your requests from client:
* It gives you project owner info alongside project info
[code]

* It fetches donations with pagination for a specific project

[code]

[2021-11-10 11:03] RamRamez commented on #170
@CarlosQ96 @mohammadranjbarz I need project owner on "projects" endpoint
Currently I'm using "users" but it's empty for some projects

![image](https://user-images.githubusercontent.com/73441857/141101745-d4ea5f60-a41b-41f8-b7a6-5eac358d330c.png)

[2021-11-10 15:17] CarlosQ96 commented on #182
@divine-comedian I think we don't need any special changes on the backend, we have a project status tab on the adminbro. The name and descriptions are modifiable, I tested and it works good when updating the project showing the modified names.

However we refactored the adminbro a bit. So do this after we merge the changes.

[2021-11-10 15:18] CarlosQ96 commented on #182
Deleting project statuses is disabled, because sadly the backend is tied to the IDs.
We should refactor this later but it's a delicate thing to do, we should prioritize other issues.

[2021-11-10 19:13] mohammadranjbarz commented on #170
Thanks Ramin
@CarlosQ96  will do that

[2021-11-11 12:44] CarlosQ96 commented on #182
@divine-comedian this can be tested now on staging. Editing the name and description of the project status

[2021-11-11 20:24] divine-comedian commented on #182
can you clarify what a successful test should look like?

[2021-11-11 20:40] divine-comedian commented on #182
so testing out the changes carlos implemented..

it looks like I can go into a project and set its status from anyone of the options from the drop down menu, however only the active status will make it show up on the dapp.

however some of the original issue remains where as when i click to cancel a project from the dashboard it sets the status to delisted. However, when I click `delist project` f

[2021-11-15 13:47] MoeNick commented on #182
@CarlosQ96  any ideas?

[2021-11-15 15:59] CarlosQ96 opened #201 "Add Admin to the allProjects Query"

[2021-11-18 12:27] DonnaOftadeh opened #246 "Make the search filter capital letter insensitive"

[2021-11-18 12:28] DonnaOftadeh commented on #246
The filter in admin panel is case sensitive. It should be case insensitive

[2021-11-18 12:29] DonnaOftadeh commented on #246
@mateodaza as Moenick is on leave - I tag you to be in the loop and decide on the backlog :)

[2021-11-22 15:31] DonnaOftadeh opened #241 "Add a field which can be seen in admin panel that shows a project is traceable or not"

[2021-11-22 16:48] CarlosQ96 commented on #182
@DonnaOftadeh @divine-comedian if you have some time today lets meet and define de names. Honestly is more a matter of renaming things. So let's list them.
Right now we can edit the status names and descriptions to make it more clear, but I would rename it in the admin bro too.

[2021-11-22 16:56] CarlosQ96 opened #203 "Fix duplicated project referencing the wrong slug."

[2021-11-22 17:27] CarlosQ96 opened #204 "Add UpdatedAt / Last Updated to projects for new design"

[2021-11-23 10:22] MoeNick commented on #201
@mohammadranjbarz @CarlosQ96 How can I test it?

[2021-11-23 10:24] MoeNick commented on #182
@CarlosQ96 @divine-comedian @DonnaOftadeh we sum it up to this result: any ideas?
![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/27518573-cead-4995-85d8-ab2449cdc329)

[2021-11-23 10:26] mohammadranjbarz commented on #201
It's changing in API responses,
@RamRamez  can approve this

[2021-11-23 10:32] RamRamez commented on #201
You can test this through graphQL query.
Also you can check the [new App](https://typescript.giveth.io/):
In Homepage, projects page and single project page, the owner of the projects should be shown correctly. (Done in PR [#17](https://github.com/Giveth/giveth-io-typescript/pull/17))

[2021-11-23 12:08] divine-comedian commented on #182
Exactly this, thank you for making it into a clear format Moe

I would only add that Admins can also activate and deactivate projects from AdminBro

[2021-11-23 12:59] CarlosQ96 commented on #182
Great I think this is fine. We can rename the statuses and Ill rename it on the adminbro.

[2021-11-23 13:30] divine-comedian commented on #145
This issue is resolved now I believe.

[2021-11-23 16:30] RamRamez opened #206 "add number of updates in projectBySlug"
@mohammadranjbarz @CarlosQ96 Is it possible to add No. of updates in projectBySlug?

I need it for new design

![image](https://user-images.githubusercontent.com/73441857/143064483-03e2e62e-6e62-4fe5-8c20-bccb5bf6a381.png)

[2021-11-23 17:55] CarlosQ96 commented on #160
Related Issue: https://github.com/Giveth/giveth-next/issues/117
API documentation for the GivingBlocks: https://the-giving-block.gitbook.io/public-api-documentation/endpoints-documentation
The Endpoints that will be used:
1. Login and Refresh endpoints for authenticated requests.
2. GetOrganizationsList endpoint to retrieve the logo and title and Scrape the description of the giving blocks website

[2021-11-23 17:58] RamRamez opened #208 "add orderBy Traceable for projects"
I need sortBy Traceable projects in projects page.

@CarlosQ96 @mohammadranjbarz Can you add it?

[2021-11-23 20:31] mohammadranjbarz commented on #160
Thanks @CarlosQ96 , very good data
@MoeNick this all that Carlos and I know about giving block, And Thanks to Carlos you can see it here

[2021-11-23 20:33] mohammadranjbarz commented on #208
Sure, as soon as possible we will do it

[2021-11-23 23:02] CarlosQ96 commented on #182
@MoeNick Renamed the delist to unlist project for better terminology.
Explained Mitch how to rename statuses on the admin bro so they show up correctly.
And Mitch edited the Exception Message.
All of this is on staging. I don't think for now anything else needs to be done.
Moving it back to done with Mitch issue.

[2021-11-23 23:42] CarlosQ96 commented on #203
Closing this issue as it was fixed directly on the project data as it was an old project.
Mohammed fixed this for new projects handling lowercase and searching the slug history.

[2021-11-23 23:42] #203 closed, assigned to CarlosQ96

[2021-11-24 03:01] CarlosQ96 commented on #204
@RamRamez What actions modify the updatedAt?
This is my list:
1. Editing the project
2. removing or adding a project update

optional in my opinion:
3. Adding a donation.

[2021-11-24 10:38] RamRamez commented on #204
@MoeNick @mohammadranjbarz What do you think?

[2021-11-28 11:17] RamRamez commented on #206
@mohammadranjbarz @CarlosQ96 When I use the new query in PR #209 for [this](https://next.giveth.io/project/ram-second-metamask-2) project, it returns 3 for totalProjectUpdates.
But using getProjectUpdates, it returns 2 updates.

[2021-11-29 06:54] mohammadranjbarz commented on #152
Hey Mitch, could you test this please?
Noow we put 1.5s delay between events, it decreases events losses ( maybe you miss 2 events between 40), it's not best solution but as the library has bug (https://github.com/segmentio/analytics-node/issues/309) we cant do it in better way.

**PS**: As we expect because of delay your events would showup with delay in Segment

[2021-11-29 15:02] MoeNick commented on #206
@CarlosQ96 @MohammadPCh shall we bring it back?

[2021-11-29 16:58] mohammadranjbarz commented on #152
@divine-comedian

This is on staging now, you can test it again

[2021-11-29 18:12] divine-comedian opened #217 "duplicate projects on admin Dashboard"
It seems that on the admin dashboard whenver we change the title of a project a new entry is added to the admin dashboard. This means that we can have many entries on AdminBro for the same project. Will this pose any issues?

These are all the same project for example:
![image](https://user-images.githubusercontent.com/67759413/143921120-0580f934-0b89-4142-9432-48b7c6efdcc5.png)

[2021-11-29 18:16] divine-comedian commented on #152
testing this on the admin dashboard -

I tried out a few different functions in bulk and they successfully show up with a delay on segment and the correct amount of actions are executed. This issue looks to be resolved! Yay!

[2021-11-29 18:17] MoeNick commented on #217
Thanks for that. We may discuss it tomorrow with @mohammadranjbarz and @CarlosQ96

[2021-11-30 12:44] CarlosQ96 commented on #160
@MoeNick @WhyldWanderer Two questions I have:
1. Should I create the wallet address as anonymous so I don't set up a lot of user information (address, email, zip, city, etc) when creating it.
Endpoint: https://the-giving-block.gitbook.io/public-api-documentation/endpoints-documentation#createdepositaddress
2. Who should I set as the admin of the exported projects?

[2021-12-01 15:36] MoeNick commented on #206
@CarlosQ96 Ramin said it shows +1 donation, I make it back to in-progress.

[2021-12-01 15:55] MoeNick commented on #208
@DonnaOftadeh pls take a look and confirm

[2021-12-01 16:01] MoeNick commented on #183
@DonnaOftadeh
Test it pls, with given scenarios.

[2021-12-01 16:07] RamRamez commented on #208
We have traceable projects but it returns none

![image](https://user-images.githubusercontent.com/73441857/144269825-a14d40ac-1c0a-4344-95f3-6ac2e523a094.png)

[2021-12-01 16:09] MoeNick commented on #208
@mohammadranjbarz @CarlosQ96 move it back. ;(

[2021-12-01 16:13] MoeNick commented on #170
@CarlosQ96 back it again to in-progress

[2021-12-01 17:18] CarlosQ96 commented on #170
@MoeNick Updating the Issue I added the adminUser for Ramin a while ago. I think we should have updated the issue, but it is ready.

[2021-12-01 17:20] mohammadranjbarz commented on #208
I should fill their `traceCampaignId` manually
I'll do that

[2021-12-01 17:21] CarlosQ96 commented on #170
![image](https://user-images.githubusercontent.com/92376054/144282426-9f38433c-cd42-43dc-9361-c555c2a47f2d.png)
@RamRamez Already implemented this last week. We didnt update the issue sorry for that Moe.

[2021-12-01 17:21] CarlosQ96 commented on #170
Moving back to staging.

[2021-12-01 17:22] CarlosQ96 commented on #208
@mohammadranjbarz actually if you do direction: ASC it shows them. So Ramin told me is in inverted Order. So we would need to reinvert the order or modify the orderBy just for this field so it's consistent.

[2021-12-01 17:25] mohammadranjbarz commented on #208
Yeah you are right, it's for staging
but I still should the DB changes for production

[2021-12-01 17:39] CarlosQ96 commented on #206
@MoeNick @RamRamez Found the issue. The count is "correct" but we have in all projects a Hidden projectUpdate that is empty for some reason..... It's created as default ProjectUpdate when the project is created.
I'll update the code to ignore this.

[2021-12-01 18:56] CarlosQ96 commented on #208
Uploaded the PR it seems the ordering is fine, but the issue was the nulls. So I inverted the Order of when the TraceCampaignId = Null, so sorting makes sense.

[2021-12-01 19:03] CarlosQ96 opened #229 "User Profile showing non-owner projects"

[2021-12-01 19:04] CarlosQ96 opened #230 "User Profile Showing Non-owned Projects"

[2021-12-01 19:06] CarlosQ96 opened #231 "User Profile Showing Non-owned Projects"
Issue in Prod, it seems the wrong query was being used. However will make a new one with pagination taking into account our memory issues.

[2021-12-01 19:06] #229 closed, assigned to nobody

[2021-12-01 19:06] #230 closed, assigned to nobody

[2021-12-01 21:29] mohammadranjbarz commented on #206
@RamRamez
We have deployed it on staging, could you check it, please?

[2021-12-01 21:56] RamRamez commented on #206
It seems good.

[2021-12-06 06:43] CarlosQ96 commented on #157
@MoeNick This is not required. After testing with prod data, there is another endpoint that has a web-blocks section. This contains the HTML strings with the description, youtube, twitter and other data. Ill close this issue as the webscrapped is not required.

[2021-12-06 06:43] #157 closed, assigned to CarlosQ96

[2021-12-06 06:43] CarlosQ96 commented on #157
@WhyldWanderer  Webscraped not required, it was easier through another endpoint of the api :)

[2021-12-07 11:37] RamRamez opened #235 "Add funding by traces"
@mohammadranjbarz @CarlosQ96 We need funding by traces for the new design.

![image](https://user-images.githubusercontent.com/73441857/145022416-ad852a10-fad3-4a2b-b618-a0f632b7743b.png)

[2021-12-08 18:02] RamRamez opened #237 "problem in donationsByProjectId"
@mohammadranjbarz @CarlosQ96
For `skip: 0`, `take: 11` it's ok but for `skip: 11` it is not!

![image](https://user-images.githubusercontent.com/73441857/145259703-63a121c4-72f6-4078-a7d4-0915a4abd528.png)

[2021-12-08 18:23] CarlosQ96 commented on #237
I'll upload a hotfix soon ASAP. On it!

[2021-12-08 18:40] CarlosQ96 commented on #237
@RamRamez Please check this should have fixed the issue.
![image](https://user-images.githubusercontent.com/92376054/145265219-89e88c98-4bcf-4199-97a5-a59c73f2f737.png)
Skip is sometimes buggy but that is another PR I am working on so it fixes the issue once and for all but it shouldn't break now this query.

[2021-12-09 04:50] mohammadranjbarz opened #238 "Call projectById query cause crash in backend"
[code]

[2021-12-09 22:08] MoeNick commented on #156
Shall we close it?

[2021-12-09 22:08] MoeNick commented on #159
Shall we close it?

[2021-12-09 22:09] #169 closed, assigned to nobody

[2021-12-09 22:17] CarlosQ96 commented on #241
The field exists. It's if the project has traceCampaignId or not.
Should I make it visible in the main list? I think it's only visible if you go to the show view. @DonnaOftadeh

[2021-12-09 22:18] CarlosQ96 commented on #241
Tha main list has a limited amount of fields, so we gotta choose which to trade off for the traceCampaignId

[2021-12-09 22:19] MoeNick commented on #241
Keep it simple for now, I think it's ok for now. Thanks @CarlosQ96

[2021-12-09 22:30] #48 closed, assigned to nobody

[2021-12-09 23:22] MoeNick commented on #151
@RamRamez @mohammadranjbarz I dont know I have to close it or not?

[2021-12-09 23:37] MoeNick commented on #193
@mohammadranjbarz appreciate if you can update us on this.

[2021-12-09 23:38] MoeNick commented on #168
Shal I close this? @mohammadranjbarz

[2021-12-09 23:43] #168 closed, assigned to mohammadranjbarz

[2021-12-09 23:47] MoeNick commented on #183
seems ok to me

[2021-12-09 23:47] #183 closed, assigned to mohammadranjbarz

[2021-12-10 09:16] mohammadranjbarz commented on #151
<img width="1440" alt="Screen Shot 1400-09-19 at 12 45 34" src="https://user-images.githubusercontent.com/9850545/145548910-173afc39-6dc0-4305-a1d5-b7eefc5b7e9e.png">
@RamRamez  has fixed this, I think we don't need API change and you can close this

[2021-12-10 09:17] mohammadranjbarz commented on #193
Yes we have it now, you can close this issue

[2021-12-10 10:56] mohammadranjbarz commented on #160
@MoeNick
It's on staging

(because the staging ENV of givingblocks just had one project, We have set the production URLs of givingblocks in our staging then you can see lots of their projects in our staging ENV, but if you think it's not ok, its totally reversible, we can change the URLs in config and delete all imported projects from staging DB

[2021-12-10 10:59] MoeNick commented on #160
Awesome, thanks

[2021-12-10 11:00] #193 closed, assigned to mohammadranjbarz

[2021-12-11 15:47] mateodaza commented on #241
Moved to the impact graph as it relates to the admin bro

[2021-12-11 15:47] #241 closed, assigned to nobody

[2021-12-11 15:56] mateodaza commented on #242
moved to the impact graph

[2021-12-11 16:15] mateodaza opened #243 "Allow donation creation for any token"
- [x] Bypass pricing error when the price is not found from monoswap
- [x] Create the donation without usdValue and ethValue

[2021-12-11 16:16] mateodaza opened #244 "Create cronjob for checking donations that have no prices in usd and eth"
As we will allow donation without prices for custom tokens, we need to run a process for adding the value of the date where the donation was made. It can be run daily

[2021-12-13 10:27] MoeNick commented on #241
@mateodaza can you mention the related issue in impact-graph repo?

[2021-12-13 17:37] CarlosQ96 opened #248 "Allow authenticated users to set anonymous donations"
Changes before the launch. Allowing the authenticated users to set if they want to keep their donation anonymous.

[2021-12-15 08:50] mohammadranjbarz opened #249 "Implement an endpoint for getting list of recipients of projects"
It's needed for calculating givbacks ( we should use purple list for excluding some wallet addresses from donors list)

[2021-12-15 08:50] mohammadranjbarz opened #250 "Implement an endpoint for getting list of recipients of projects"
It's needed for calculating givbacks ( we should use purple list for excluding some wallet addresses from donors list)

[2021-12-15 08:51] mohammadranjbarz opened #251 "Implement an endpoint for getting list of recipients of projects"
It's needed for calculating givbacks ( we should use purple list for excluding some wallet addresses from donors list)

[2021-12-15 10:51] #151 closed, assigned to mohammadranjbarz

[2021-12-15 13:02] mohammadranjbarz commented on #251
@WhyldWanderer

Could you check if the list is ok?

you should go to
https://mainnet.serve.giveth.io/graphql

and enter
[code]
This query would return list of all wallet addresses of verified projects

I have checked the list that you sent for me and it seems it's ok, but your list had 7 more wallet addresses

@MoeNick  JFYI

[2021-12-15 14:24] mohammadranjbarz commented on #249
It's repetitive
#251

[2021-12-15 14:24] #249 closed, assigned to mohammadranjbarz

[2021-12-15 14:24] mohammadranjbarz commented on #250
It's repetitive
#251

[2021-12-15 14:24] #250 closed, assigned to mohammadranjbarz

[2021-12-15 16:58] divine-comedian commented on #158
how can I test this issue? @CarlosQ96

[2021-12-15 17:00] divine-comedian commented on #231
I tested my project in `giveth.io` and only my one single test project showed up

how else can I test this issue?

[2021-12-15 17:08] CarlosQ96 commented on #158
@divine-comedian well it's a bit complicated to test manually. However, in staging I left the process that synchronizes with the giving blocks running every hour. So if there are no duplicated projects this worked.
The reason is I set up an INdex/rule on the database that addresses need to be unique.
So if another project tries to use that address, it throws and exception and skips that project.

[2021-12-15 17:09] CarlosQ96 commented on #158
It wouldn't be posible with a database rule.

[2021-12-15 17:10] CarlosQ96 commented on #158
Also Gemini generates a different address per project. After synchronizing locally like 30 times, it never generate the same address for two projects.

[2021-12-15 17:11] CarlosQ96 commented on #231
This was mostly a bug, there was no filter per user. So any user was seeing every project on giveth.
It should only show the user owner projects.

[2021-12-16 16:43] divine-comedian commented on #231
okay well then looks to be resolved on production!

[2021-12-16 16:44] divine-comedian commented on #158
okay great! looks to be tested then - moving to DONE

[2021-12-16 19:59] divine-comedian commented on #248
testing on `next.giveth.io`

signed in on my autheticated account and donating to a project - I click donate anonymously and donate some ETH
![image](https://user-images.githubusercontent.com/67759413/146440265-cb35813c-117f-45e5-ac0e-c721ee81bbf0.png)

the donation goes through and shows up as `anonymous` on the project's page - I also tested non-anonymous donation and it shows up properly as wel

[2021-12-17 18:06] divine-comedian commented on #160
what does a successful test of this issue look like?

[2021-12-17 18:07] divine-comedian commented on #243
tested with issue https://github.com/Giveth/giveth-next/issues/448

I can successfully create donation using any token address on xdai and mainnet

[2021-12-20 13:02] aminlatifi opened #257 "Security Analysis"
- [x] is there a reason we've got access-control-allow-origin: set to * in some places?
- [x] I would recommend setting X-Frame-Options: DENY or X-Frame-Options: SAMEORIGIN to prevent clickjacking (unless you expect to be hosted in a frame on another site, in which case I have a different suggestion)
- [x] It would be nice to suppress the "X-Powered-By: Next.js" header
- [ ] You might wanna consid

[2021-12-20 15:00] geleeroyale commented on #257
ok - I solved these:
- It would be nice to suppress the "X-Powered-By: Next.js" header (by setting a value in next.config)
- Would you be ok with adding "Strict-Transport-Security: max-age=10000; includeSubDomains; preload" in order to force all assets to load over HTTPS (by setting it in impact-graph nginx)

this needs clarification:
- I would recommend setting X-Frame-Options: DENY or X-Frame-Op

[2021-12-20 15:24] aminlatifi opened #258 "Whitelist domains on CORS"

[2021-12-20 15:34] aminlatifi commented on #257
Created #259 PR to fix the first one

[2021-12-21 02:27] mohammadranjbarz opened #261 "Disable Apollo playground in production"

[2021-12-21 03:42] CarlosQ96 opened #264 "Set Project as pending review after edited"

[2021-12-21 17:49] divine-comedian commented on #206
does this issue need further testing or can it be moved to done?

[2021-12-21 17:50] divine-comedian commented on #208
@CarlosQ96  can you provide more context on how to test this issue?

[2021-12-21 17:53] MoeNick commented on #208
If filter by Trace is working fine on UI, its done.

[2021-12-21 18:02] divine-comedian commented on #264
awaiting PR merge to test ....

[2021-12-21 18:12] divine-comedian commented on #201
testing in `https://serve.giveth.io/graphql`
I noticed there's a few project queries that are missing the admin field -

projectsByUserId
projects
topProjects

@mohammadranjbarz  will this affect any important functionality?

[2021-12-21 18:20] MoeNick commented on #264
@mohammadranjbarz i think the pr is waiting for you

[2021-12-21 18:28] divine-comedian commented on #160
updates on how to test please @mohammadranjbarz  @CarlosQ96

[2021-12-21 18:44] CarlosQ96 commented on #160
Basically we have the project exported, we can list/unlist, unverify, add hearts, etc. In staging we could not test donations because we had mainnet addresses.
This projects are on production and I think Ashley is testing the donation flow. But per other testing with Griff it should work. @divine-comedian

[2021-12-21 18:47] CarlosQ96 commented on #201
The TopProjects query I think is not used right now in some version or will not be used anymore.
Can you put a screenshot? I see all projects with admin field filled, no project has it null in staging.  @divine-comedian

[2021-12-21 18:53] divine-comedian commented on #160
@WhyldWanderer  you have the admin bro dashboard credentials for production - do you want to test this flow? Is there any email associated with them that might get hit with spam when testing these actions?

[2021-12-21 18:56] divine-comedian commented on #201
this is returning from querying `projects` on `https://serve.giveth.io/graphql`

https://serve.giveth.io/graphql

![image](https://user-images.githubusercontent.com/67759413/146983401-f37959e6-3cc4-496d-89de-17ac16ca044f.png)

[2021-12-21 18:59] CarlosQ96 commented on #201
Ok ok, to clarify the actual name of the admin object field is now adminUser

The reason for this is our database library has a bunch of bugs, so we had to set a new field for just querying and setting the admin in the results.

Also the projects query is now the search query so it has a different structure:
[code]

[2021-12-21 19:01] divine-comedian commented on #208
testing on `next.giveth.io`

I can sort by traceable and all of the traceable projects show up at the top, but also non traceable projects show up as we continue to scroll down -
![image](https://user-images.githubusercontent.com/67759413/146984080-693307d6-b64d-40b6-b030-79620916b155.png)![image](https://user-images.githubusercontent.com/67759413/146983900-2455d460-c7d1-4e7f-a6d9-f8e18da0f196.png

[2021-12-21 19:06] MoeNick commented on #208
I think we decided to have filter/sort behavior not only filtering.
So GIVonly also should behave like first GivOnly then other projects. This is because we tell the user in UI we're gonna  only sort them.

[2021-12-21 19:15] divine-comedian commented on #201
testing that out on the playground - I can see adminUser needs a set of subfields to be ran
I can also query admin and adminUser  together and they output different things
![image](https://user-images.githubusercontent.com/67759413/146985093-8bda7dc1-dc43-4e92-9c5c-5aa37adcf1c0.png)

that would be the only modification you would need from that query you pasted above @CarlosQ96  the whole query see

[2021-12-21 19:16] divine-comedian commented on #208
okay but the issue is that we sort by traceable and we are shown projects that are not traceable - this should be filtering them out

[2021-12-21 19:18] CarlosQ96 commented on #201
Since the query does a lot of things (search, filter, order, paginate) its a bit more slower/complex compared to the previous one that didn't query so much info.

To clarify:
Admin field is just an id.
AdminUser is literally doing another database query to get the user with its fields using the admin_id from the admin field. (same attributes as a regular user, id, name, lastName, email,etc)

@divi

[2021-12-21 19:19] CarlosQ96 commented on #201
For now this is done.

[2021-12-21 19:28] MoeNick commented on #208
This issue was created when we dont have any filter/sort by trace, and its working right now.
But I agree with you that we have to decide we just filter or sort? For example: Sort by verified query is just behave like sort by trace and includes non-verified projects but after verified ones as a SORT BY query.
So I think we talked and we decide to just sort, its fine for now because we have "load m

[2021-12-21 19:28] WhyldWanderer commented on #160
The email is the same for all projects.. Griff and I have the credentials so we can test each of the admin dashboard functions without spamming anyone.

Ive been waiting with fingers crossed to hear back from the person in charge of Keep A Breast Foundation so that we can test live donations, however I haven't heard anything as of yet.

Can you think of any ways that we could test donations withou

[2021-12-21 19:34] CarlosQ96 commented on #208
Yeah it all came down to things we decided on the calls. It would be a sort not a filter in the case of the traceable projects.

But yeah a filter can also be added.

[2021-12-21 21:05] divine-comedian commented on #208
it really doesn't make sense if you want to sort by traceable and then non-tracable projects show up - what's the point then?

I think sorting by traceable should have the filter functionality

[2021-12-22 02:28] mohammadranjbarz commented on #264
@divine-comedian @MoeNick

It's on the staging now

[2021-12-22 02:29] mohammadranjbarz commented on #264
@MoeNick
The backend is done and seems ok, I think when users want to edit a project we should show them dialogue and say them that their project will be unlisted after an edit otherwise they will be confused

[2021-12-22 11:41] MoeNick opened #267 "Add Filter to SortBy Trace and Verified Queries"
it really doesn't make sense if you want to sort by traceable and then non-tracable projects show up - what's the point then?

I think sorting by traceable should have the filter functionality

_Originally posted by @divine-comedian in https://github.com/Giveth/impact-graph/issues/208#issuecomment-999093822_

[2021-12-22 16:35] divine-comedian commented on #264
okay testing this out on the admin dashboard and `next.giveth.io`

I edit my project - changing uniquely either the wallet address, project title, project description and the project goes back into `not reviewed` status for listed - this seems to be working as described!

![image](https://user-images.githubusercontent.com/67759413/147125317-65ed946b-8caa-4ade-a325-089521c26de2.png)

[2021-12-22 16:46] divine-comedian commented on #264
@mohammadranjbarz  made a follow up issue for the front-end https://github.com/Giveth/giveth-next/issues/578

[2021-12-22 21:12] divine-comedian commented on #238
testing this out on graphql staging -
![image](https://user-images.githubusercontent.com/67759413/147155713-96737e3c-88b0-4519-aced-c71098eccfdf.png)

I can successfully run this query and don't see any error - output looks good

was there anything else to test on this issue @mohammadranjbarz ?

[2021-12-23 10:10] MoeNick commented on #267
@CarlosQ96 Mohammad got busy for GIV launch, can you pls take this?

[2021-12-23 12:10] #101 closed, assigned to mateodaza

[2021-12-23 12:10] #113 closed, assigned to mohammadranjbarz

[2021-12-23 12:31] mohammadranjbarz commented on #261
@MoeNick
The backend is up in staging but if you go https://serve.giveth.io/graphql you can't see apollo playground

[2021-12-23 12:47] mohammadranjbarz commented on #238
No that's it , the playground is disabled but backend is up
I think this testing is enough

[2021-12-23 18:07] CarlosQ96 commented on #267
Ok, added a filter by Trace

[2021-12-23 19:16] CarlosQ96 commented on #267
@MoeNick however should we keep both sort by and filter by? Because, honestly they are different things.
Or should I remove the sortby?

Filter will only return the projects with traceId
and sortby will prioritize the order of those with traceID but will return the other results too.

[2021-12-23 21:11] CarlosQ96 opened #271 "Frontend: Add youtube link and website url to the givingblocks projects page"
We saved in our database the youtube link presentation of the project and the website url.
They may not be present for some projects.

[2021-12-23 21:12] CarlosQ96 commented on #271
@MoeNick Leaving the issue here for later or we can prioritize.

[2021-12-24 06:09] mohammadranjbarz commented on #267
@MoeNick  Carlos has implemented it and it's on staging, now the UI can be implemented

[2021-12-24 07:40] MoeNick commented on #267
@mateodaza can you pls take this in frontend?

[2021-12-25 06:48] mohammadranjbarz opened #273 "Having problem in verifying Gitcoin donation on mainnet"
Donation sample

[code]

Maybe we should add test case for this in our automated tests to see what's the reason

[2021-12-26 04:01] mohammadranjbarz opened #276 "The valueUsd is not filled for GIV donations"
You can see lots of these donations with this query

[code]

or here
https://giveth.io/project/Diamante-Bridge-Collective-0

[2021-12-26 05:54] mohammadranjbarz commented on #276
@mateodaza  This PR https://github.com/Giveth/impact-graph/pull/275 will fix this issue?
I should not do something?

[2021-12-26 06:20] MoeNick commented on #276
DO we need the USD value for old GIV donated? @mohammadranjbarz

[2021-12-26 06:33] mohammadranjbarz commented on #276
I remember that Mateo or Carlos implement a cronjob for updating donations  `usdValue`, so if I'm not mistaken it would resolve old donations, but I couldn't find that in the codes, @mateodaza can you help us?

[2021-12-26 13:56] CarlosQ96 commented on #276
@mohammadranjbarz Mateo added Giv to monoswap yesterday so new donations should work now.
However for old ones we must write the script, the script doesn't exist.

This will also be specially helpful for tokens that don't appear on monoswap, since we allow them now.

I lookup with Mateo some apis like coingecko (but this one is too limited, gotta pay to use effectively). But we should probably loo

[2021-12-26 14:18] mohammadranjbarz commented on #276
Thanks Carlos

@MoeNick  Should we create another story for what should we do for older donations?
( As Carlos said, I think it's not an easy or routine job, so it might need a little discussion as well)

[2021-12-26 14:21] MoeNick opened #278 "USD Value for old donations"
Thanks Carlos

@MoeNick  Should we create another story for what should we do for older donations?
( As Carlos said, I think it's not an easy or routine job, so it might need a little discussion as well)

_Originally posted by @mohammadranjbarz in https://github.com/Giveth/impact-graph/issues/276#issuecomment-1001190043_

[2021-12-26 14:25] MoeNick commented on #278
[Carlos comment](https://github.com/Giveth/impact-graph/issues/276#issuecomment-1001187052)

Mateo added Giv to monoswap yesterday so new donations should work now.
However for old ones we must write the script, the script doesn't exist.

This will also be specially helpful for tokens that don't appear on monoswap, since we allow them now.

I lookup with Mateo some apis like coingecko (but this on

[2021-12-26 14:29] mohammadranjbarz commented on #278
I think we may change the title to **USD Value for old donations**
because it's not limited to GIV donations, it may happen to all donations

[2021-12-26 14:55] MoeNick commented on #278
It's open for discussion guys, @mohammadranjbarz would u pls list our choices, what we should do?

[2021-12-27 13:14] divine-comedian commented on #267
I want to clarify that technically filterBy and sortBy are different functions, from a user perspective (not a dev perspective) they are relatively similar - I would highly recommend to simply change the functionality of the traceable sorting to filterBy instead of making unnecessarily complicated modifications to the UI

[2021-12-27 14:19] MoeNick commented on #267
Yeah it's all done, we just made it filterBy in currant design we have. Would you pls test it again?

[2021-12-27 16:56] divine-comedian commented on #267
testing on `next.giveth.io`
clean cache and cookies

it appears the functionality has not changed at all  - choosing to sort by traceable should apply the filter and not show me projects that aren't traceable

![image](https://user-images.githubusercontent.com/67759413/147492055-a0d4a315-0c26-4489-b783-5825b38c7e62.png)
![image](https://user-images.githubusercontent.com/67759413/147492102-06909755

[2021-12-27 16:59] CarlosQ96 commented on #267
@divine-comedian I made the filter on the filter dropdown.
Should I remove the SortBy then? Or maybe it is a frontend thing. Gotta validate with Mateo.

[2021-12-27 17:23] CarlosQ96 commented on #278
Honestly I think that for tokens that we don't support we should run a script to update them with other apis.
1. What service should we use? (In case it can't be added to our monoswap library).
2. When should the script run? (to avoid a price difference when we insert the values, OR I think we with the date with can get the price in a certain moment using the creation Date)

I double checked Coing

[2021-12-27 17:24] MoeNick commented on #267
@CarlosQ96 @mateodaza This is the success criteria:
1- User Select "Traceable" and/OR "Verified" in Sort By Menu in UI
2- User should only see Traceable project and/or verified projects.

[2021-12-28 10:45] mohammadranjbarz commented on #278
Thanks Carlos
Because the price is very important ( we calculate givback based on donation price) we should be sure that every donation has price, so I think this script is almost necessary to make sure that no donation is missed, but as you said we should check it to how to do it,
does monoswap support price for othertimes  or just it get us price for Now time?
If we can use it in the cronjob scr

[2021-12-28 13:22] CarlosQ96 commented on #278
Monoswap only returns the current price.
Coingecko can return the price history at a given date. HOWEVER, the issue is coingecko uses their internal ids to request tokens, we have to export first their token-ids to properly use the APIs thats the heavy part. (4k+ tokens)
The file is huge, and even breaks their website hahaha Maybe we should export it to csv or something.

But after initial export

[2021-12-28 13:25] mohammadranjbarz commented on #278
@MoeNick  Do we support givbacks for all tokens are we just have a whitelist?
because for verifying donation I just check the token that are in our whitelist,
So @CarlosQ96  You can add coeingeckId of those donations  to this  list

https://github.com/Giveth/impact-graph/blob/staging/utils/tokenUtils.ts

that's not a long list and you can do it manually

[2021-12-28 13:40] CarlosQ96 commented on #278
@mateodaza @divine-comedian @MoeNick There is one issue, we also now accept all tokens (erc20 at least). Most probably they aren't on our whitelist.
Should our script also try to update their usd/eth values? They can be some random obscure/new token haha

I think on the verification part, Mohammad would need to do something too.

[2021-12-28 14:28] divine-comedian commented on #278
it seems like since we're accepting any erc-20 token now the overhead of mainting the monoswap repo might become too time consuming - I think the idea of using the coingecko API will save us a lot of headaches going forward - let's see how much it will cost

 - the big problem is just as mohammad said that if we return no price for a donated token that has value or inaccurate price data there will

[2021-12-29 10:18] mohammadranjbarz opened #280 "Setup integration test infrastructure"
- [x] Migration Files
- [x] Write at least one integration test that calls graphql query/mutation
- [x] Maybe need some seeder for filling DB before running tests

[2021-12-29 11:49] mateodaza commented on #278
I'd say if the price is found we save it, even if we do mistakes (let's say this obscure token is called the same as many)

We could run the script every 6 hours (or another rate) and check the price of missing tokens using the coingecko api, if the amount of tokens that we have to get price is greater than the api limit we put it on a job for a minute later.

The steps could be something like

-

[2021-12-29 12:26] divine-comedian commented on #278
so this would still use monoswap and with any gaps in price data we fetch it from coingecko? and if we meter it out with a timed job as you say we wouldn't reach the rate limit.

does this solution have any limitations if transaction volume on Giveth increases greatly? (10x)

[2021-12-29 13:45] mohammadranjbarz commented on #278
Just we are not sure that history of prices are precise in coingecko ( you can test GIV price for few days ago, to see the prices are not accurate)

[2021-12-30 12:29] MoeNick commented on #278
Let's focus on this: How we can make sure we have a precise price history for missing transactions.

[2021-12-31 15:41] WhyldWanderer commented on #278
I remember that this tool was created by Giveth Social Coding team in the past... it could be helpful.
https://giveth.github.io/xchange-rates

[2022-01-05 17:46] MoeNick opened #285 "Sort by raised amount with trace donations counted."
We need to implement a query to count trace donation plus io donations we may need it for TP version.

[2022-01-06 11:17] mohammadranjbarz opened #289 "Revise checking amount of donation when verifying"
There are some donations in our db that the amount of donation is a little different with real amount like https://blockscout.com/xdai/mainnet/tx/0xfe2c49f7462f13d07731285f6c39cede54c5859740d18988284dbfab046efc17 with `300.164094` amount but in our DB the amount is `300.1641` and we assume the amount is wrong, so the donation wound get verified, we should change the logic of comparison of amount

[2022-01-08 16:11] MoeNick commented on #278
Would u pls update this issue guys?

[2022-01-08 16:12] MoeNick commented on #276
would u pls update this issue guys?

[2022-01-09 09:38] mohammadranjbarz commented on #278
It seems all of old donations have usdValue

[2022-01-10 12:53] MoeNick opened #293 "Writing an script for finding missed donations for GIVBacks"
Writing a script for transactions that went to the verified project's wallet, and we don't have any verified/eligible donations for them in our DB.
When we find miss-matched data, we can manually review the ones that are off by a lot.

[2022-01-10 12:59] MoeNick opened #294 "Improve Sentry and Segment Logs in backend"
The entry was created for this donation had incorrect value for `projectId` and `userId`. It was probably created manually and the values were field instead of each other.

However, the reason behind missing entities like this is not clear yet. We don't have any clue and there isn't anything recorded in log records.

I and @mohammadranjbarz deduced that the only temporary solution is to add segmen

[2022-01-10 13:25] MoeNick commented on #293
The update:
https://discord.com/channels/679428761438912522/928813033600475207/930089375218413602

[2022-01-10 16:18] MoeNick commented on #278
We missed some GIV 2 trx from main net .

[2022-01-10 16:25] MoeNick opened #295 "Document donation flow for giveth.io with sequence diagram"
Documentation of the flow, help us understand which part of the flow we should add a logger with which parameters.

[2022-01-10 21:16] mohammadranjbarz opened #296 "Change donations graphql query to support time range"

[2022-01-10 21:19] mohammadranjbarz commented on #296
For calculating givbacks we get all donations, but after few round we would get timeout, because the donations number would be very large number, so it's needed that time

[2022-01-12 12:50] mohammadranjbarz opened #299 "Use premium Infura key as web3 provider in all projects"
- [x] Giveth Trace - Develop
- [x] Giveth Trace - Production
- [x] Bridge monitor - develop
- [x] Giveth bridge - production
- [x] Impact-graph - develop
- [x] Impact-graph - staging
- [x] Impact-graph - production
- [x] Giveth Trace Simulation - develop
- [x] Giveth Trace Simulation - produciton

@aminlatifi  Please add servers/applications that I have missed

[2022-01-12 13:10] #16 closed, assigned to aminlatifi

[2022-01-13 13:12] mohammadranjbarz opened #301 "Cluster instances of impact-graph containers by HA proxy"
I think it's worth to give it a shot
( It's not needed to Docker swarm , or Kubenetes because as I know they are useful when we want to have multi nodes on different servers)
@aminlatifi  what do you think

You can take a look on this:
https://nirgn.medium.com/load-balancing-applications-with-haproxy-and-docker-d719b7c5b231

[2022-01-17 11:01] mohammadranjbarz opened #302 "Add logger to save logs in file instead of console.log"

[2022-01-17 17:28] MoeNick commented on #294
Check all error handlers
Set configs for Sentry

[2022-01-17 17:42] MoeNick opened #304 "Review mutations"
investigating about missed donation

[2022-01-21 05:07] CarlosQ96 commented on #160
This is done, Ashley, Griff and me tested with a giving blocks project.

[2022-01-26 05:31] mohammadranjbarz opened #308 "Write integration tests for all graphql query/mutation"
If you want to run tests locally you should have a running postgres with auth info that is in
https://github.com/Giveth/impact-graph/blob/staging/config/test.env#L4-L9

Just be aware because it will delete all of your existing records before running test, I suggest you just run `docker-compose-local-postgres.yml` it will bring up two instances of postgres, one for your normal use and another one f

[2022-01-26 06:09] mohammadranjbarz opened #309 "Write test cases for projects() in projectResolver.test.ts"

[2022-01-26 06:09] mohammadranjbarz opened #310 "Write test cases for topProjects() in projectResolver.test.ts"

[2022-01-26 06:09] mohammadranjbarz opened #311 "Write test cases for project() in projectResolver.test.ts"

[2022-01-26 06:09] mohammadranjbarz opened #312 "Write test cases for projectById() in projectResolver.test.ts"

[2022-01-26 06:10] mohammadranjbarz opened #313 "Write test cases for projectBySlug() in projectResolver.test.ts"

[2022-01-26 06:10] mohammadranjbarz opened #314 "Write test cases for uploadImage() in projectResolver.test.ts"

[2022-01-26 06:10] mohammadranjbarz opened #315 "Write test cases for addProjectUpdate() in projectResolver.test.ts"

[2022-01-26 06:10] mohammadranjbarz opened #316 "Write test cases for editProjectUpdate() in projectResolver.test.ts"

[2022-01-26 06:11] mohammadranjbarz opened #317 "Write test cases for deleteProjectUpdate() in projectResolver.test.ts"

[2022-01-26 06:12] mohammadranjbarz opened #318 "Write test cases for toggleReaction() in projectResolver.test.ts"

[2022-01-26 06:12] mohammadranjbarz opened #319 "Write test cases for toggleProjectReaction() in projectResolver.test.ts"

[2022-01-26 06:12] mohammadranjbarz opened #320 "Write test cases for getProjectUpdates() in projectResolver.test.ts"

[2022-01-26 06:13] mohammadranjbarz opened #321 "Write test cases for getProjectsRecipients() in projectResolver.test.ts"

[2022-01-26 06:13] mohammadranjbarz opened #322 "Write test cases for getProjectReactions() in projectResolver.test.ts"

[2022-01-26 06:14] mohammadranjbarz opened #323 "Write test cases for walletAddressIsValid() in projectResolver.test.ts"

[2022-01-26 06:14] mohammadranjbarz opened #324 "Write test cases for isValidTitleForProject() in projectResolver.test.ts"

[2022-01-26 06:15] mohammadranjbarz opened #325 "Write test cases for projectByAddress() in projectResolver.test.ts"

[2022-01-26 06:15] mohammadranjbarz opened #326 "Write test cases for projectsByUserId() in projectResolver.test.ts"

[2022-01-26 06:16] mohammadranjbarz opened #327 "Write test cases for donations() in donationResolver.test.ts"

[2022-01-26 06:17] mohammadranjbarz opened #328 "Write test cases for donationsFromWallets() in donationResolver.test.ts"

[2022-01-26 06:17] mohammadranjbarz opened #329 "Write test cases for donationsToWallets() in donationResolver.test.ts"

[2022-01-26 06:17] mohammadranjbarz opened #330 "Write test cases for donationsByProjectId() in donationResolver.test.ts"

[2022-01-26 06:17] mohammadranjbarz opened #331 "Write test cases for tokens() in donationResolver.test.ts"

[2022-01-26 06:17] mohammadranjbarz opened #332 "Write test cases for donationsByDonor() in donationResolver.test.ts"

[2022-01-26 06:17] mohammadranjbarz opened #333 "Write test cases for saveDonation() in donationResolver.test.ts"

[2022-01-26 06:18] mohammadranjbarz opened #334 "Write test cases for categories() in categoryResolver.test.ts"

[2022-01-26 06:18] mohammadranjbarz opened #335 "Write test cases for user() in userResolver.test.ts"

[2022-01-26 06:19] mohammadranjbarz opened #336 "Write test cases for userByAddress() in userResolver.test.ts"

[2022-01-26 06:19] mohammadranjbarz opened #337 "Write test cases for updateUser() in userResolver.test.ts"

[2022-01-26 07:52] aminlatifi commented on #308
Nice, thanks @mohammadranjbarz. Definitely it's a landmark in solving our technical debts

[2022-01-26 15:38] CarlosQ96 commented on #304
@MoeNick I think the logs that we improved on a previous card are enough in terms of backend, we notify segment, save locally the log and send the error to frontend.

After lots of testing I did not find any issue with the backend saving donations.

I did a final test with @mateodaza today, regarding how it handles errors sent by the backend at it seems the issue is on the frontend. Even if there

[2022-01-26 15:55] CarlosQ96 commented on #304
Moving to done with the findings documented. And creating a new card with the issue.

[2022-01-26 15:55] CarlosQ96 opened #338 "Frontend: Backend errors are displayed as success in the donations view"
Related to issue: https://github.com/Giveth/impact-graph/issues/304

The issue found was that backend was returning errors to the frontend when making a donation, but the frontend was still displaying as success.

[2022-01-26 15:58] CarlosQ96 opened #339 "Front: Backend Errors displayed as success in donations view"

[2022-01-26 15:58] #339 closed, assigned to nobody

[2022-01-26 17:57] MoeNick opened #340 "Change listing to "null" after Activating (Unarchiving) of the Project"
Moenick:

[2022-01-26 18:00] MoeNick opened #341 "After the Cancelling of project (By admin): change verification status to false & listing status to false."

[2022-01-26 20:18] MoeNick commented on #280
Shall I move it to UAT?
did all the above get the check-list. @mohammadranjbarz

[2022-01-26 20:20] MoeNick commented on #338
Happy you guys find it. @CarlosQ96 @mateodaza
I really love to bring backend errors to Sentry as well. Ideas?

[2022-01-27 01:51] CarlosQ96 commented on #338
@mohammadranjbarz added sentry logger manually so when an error occurs it's sent to the backend. I think we are just missing configuring the email.

[2022-01-27 09:26] mohammadranjbarz commented on #280
Yeah all of check list items has been implemented, but it's still in code review

[2022-01-27 12:27] #293 closed, assigned to mohammadranjbarz

[2022-01-27 12:37] CarlosQ96 opened #342 "Backend: Rainbowroll Donation distribution scripts"
After discussing with Mohammad this issue will be done with two scripts:
1. Update our Giv Script to also catch mainnet donations and create in our db the donation records.
2. Add a SegmentNotified column to donations to keep track which have been notified.
3. Add a script that notifies those donations that haven't been notified to customers.

[2022-01-27 13:35] #340 closed, assigned to mohammadranjbarz

[2022-01-27 13:41] MoeNick commented on #341
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/All-Devs-61644589b92edf0016f6999c/issues/Giveth/impact-graph/341?planning-poker) with ZenHub @mohammadranjbarz

[2022-01-27 13:50] MoeNick opened #343 "Writing Auto Test for changing Statuses Scenarios"
- [x] If Listing=Null stayed more than N days, automatically set it to "Listed"
- [x] Edit Projects: won't affect Verification status - changes listing to "not reviewed" means listing=null
- [x] Deactivating (Archiving): won't affect Verification status - won't affect listing status.
- [x] Activating (Unarchiving): won't affect Verification status - changes listing to "not reviewed"
- [x] Cancelli

[2022-01-31 04:58] CarlosQ96 commented on #338
@mateodaza is this on a PR? or merged? So we can do the final test.

[2022-01-31 10:22] mohammadranjbarz commented on #285
@mateodaza

You can use this query in staging

[code]

[2022-01-31 14:09] MoeNick opened #347 "View similar projects service:"
As a user, when I click on the link "View Similar Projects" on Project Single Page, I want to see other similar projects in all projects pages.

![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/96045e06-e6ff-4c84-80c1-3ecb625c818f)

Details:
The service should have the current categories of this project and its Project Owner as  input variables and have the list of projec

[2022-01-31 19:08] MoeNick commented on #343
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/All-Devs-61644589b92edf0016f6999c/issues/Giveth/impact-graph/343?planning-poker) with ZenHub @mohammadranjbarz @CarlosQ96

[2022-01-31 19:09] CarlosQ96 commented on #343
I'll put 8, as I have to get familiar with certain testing tools first.

[2022-02-01 15:51] MoeNick commented on #347
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/All-Devs-61644589b92edf0016f6999c/issues/Giveth/impact-graph/347?planning-poker) with ZenHub @mohammadranjbarz @CarlosQ96

[2022-02-01 20:29] MoeNick commented on #338
@mateodaza @CarlosQ96 any updates on this?

[2022-02-01 20:54] MoeNick commented on #299
which of them block us to provide service to our users in production?
which of them are essential for V2?

[2022-02-01 21:06] MoeNick commented on #285
@divine-comedian can you find a band with and help us on this with service testing:
1- total amount donated for a non-traceable project should be correct and the same with DB
2- total amount donated for a traceable project should be correct: all donations with giveth.io + its campaign donation amount in trace.
All of them in staging.

[2022-02-01 21:17] MoeNick commented on #341
shall I move it to UAT?

[2022-02-01 21:19] MoeNick commented on #299
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/All-Devs-61644589b92edf0016f6999c/issues/Giveth/impact-graph/299?planning-poker) with ZenHub @aminlatifi @mohammadranjbarz

[2022-02-01 21:21] MoeNick commented on #342
@mohammadranjbarz would u pls put your comments here? as we talked earlier on this.

[2022-02-02 00:08] divine-comedian commented on #285
testing out donations on trace vs. donations on IO
develop.giveth.io
next.giveth.io

right now I can see zero consistency between the two dapps. I tested making a few donations on both via Ropsten
https://develop.giveth.io/campaign/testing-trace-endpoint
https://next.giveth.io/project/testing-trace-endpoint
![image](https://user-images.githubusercontent.com/67759413/152071470-5ee5ce16-85e2-4374-ac

[2022-02-02 05:34] CarlosQ96 commented on #332
This card was actually helpful to setup the testing of donations for other issues: #342

[2022-02-02 06:40] mohammadranjbarz commented on #332
@MoeNick As it's just technical I think we can skip UAT and just move it to DONE

[2022-02-02 11:04] mohammadranjbarz commented on #342
@MoeNick
As I talked with @divine-comedian
We have a use case, sometimes happens that we move some funds(ETH/XDAI/or other tokens) to multiple addresses(recipient address of projects)  by **Disperse** app, and we want to create donations for those transfers,
My suggestion is add a page in admin bro, you enter the txHash of disperse transaction, something like this: https://blockscout.com/xdai/main

[2022-02-02 11:32] divine-comedian commented on #342
we'll use CSV airdrop since it is built right into the gnosis-safe apps

![image](https://user-images.githubusercontent.com/67759413/152146007-67a60f7c-f6fd-4de3-88cd-4832171486b4.png)

[2022-02-02 13:51] divine-comedian commented on #261
navigating to `https://mainnet.serve.giveth.io/graphql`

this is currently what appears
![image](https://user-images.githubusercontent.com/67759413/152166571-851c32c7-d79b-4c00-9175-65f254798996.png)

would we consider this state effectively disabled @mohammadranjbarz ?

[2022-02-02 13:58] divine-comedian commented on #267
testing on `next.giveth.io `

I can see while filtering by traceable in the "sort by" menu I can quickly see there are non-traceable projects in this view - I should only see traceable projects
![image](https://user-images.githubusercontent.com/67759413/152167868-ac61fa9e-b5fe-4869-8d57-df3bb9a4f385.png)

similarily here I filter by verified in the sort by drop down and I am still able to see non-

[2022-02-02 14:04] mohammadranjbarz commented on #261
Yeah exactly, it mean playground had been disabled successfully

[2022-02-02 14:58] divine-comedian commented on #278
how can this issue be tested?

[2022-02-03 08:23] mohammadranjbarz commented on #342
@CarlosQ96  I moved it to in-progress because my side is not finishedd yet

[2022-02-03 12:28] mohammadranjbarz commented on #299
@MoeNick  @aminlatifi I think we can move it to done

[2022-02-04 04:30] CarlosQ96 commented on #338
Tested the following escenarios:
1. Create the same donation twice (same tx hash) to force the return of error from the backend.
2. Turn off the backend to reproduce a service unavailable error.

Evidence:
1. I created a donation the success page showed, I forced the same tx hash and the frontend displayed an error modal:
![image](https://user-images.githubusercontent.com/92376054/152471862-19d986

[2022-02-04 04:32] CarlosQ96 commented on #338
@MoeNick since this is a code reproduced test I think we can move it to done. It's hard to do it live or in staging.
But I think this shows the changes Mateo did, work.
Before it was showing the success modal like nothing was wrong regardless of anything.
Let me know what you think.

[2022-02-04 04:34] CarlosQ96 commented on #338
It's showing error modals correctly!

[2022-02-04 04:38] CarlosQ96 commented on #338
The graphql errors might not be that pretty, but I'd make another issue to map them differently.

[2022-02-04 05:30] mohammadranjbarz commented on #278
There should not be any **GIV** donation that doesn't have `usdValue`  and if you see in this screenshot the query return zero donations, so I think we can close this issue

<img width="1047" alt="Screen Shot 1400-11-15 at 09 00 01" src="https://user-images.githubusercontent.com/9850545/152477331-ac767137-cfcb-4028-a91a-823ce08d1091.png">

[2022-02-04 11:54] divine-comedian commented on #278
okay better question - how can I test this issue? Or how can it be moved to done?

[2022-02-04 16:16] CarlosQ96 opened #351 "If a givingBlock project is disabled/removed from the api, it should reflect on our db"
Right now if a project is deleted from the giving blocks API it still shows in our backend unless we manually delete it.

[2022-02-07 02:00] mohammadranjbarz commented on #278
IMO you can move it to **done**, because the above query indicates that it works

[2022-02-08 02:03] CarlosQ96 commented on #206
I think we can move it to Done, this is all done. We keep the total project updates # updated at all times every time a new projectUpdate is added or deleted.

[2022-02-08 02:06] CarlosQ96 commented on #332
I'll move it to Done. This was mostly technical and a great start to setup future tests related to donations.

[2022-02-08 08:51] mohammadranjbarz commented on #343
@WhyldWanderer  @MoeNick  I saw the code and I noticed the user can not active a deactivated/cancelled project, so this endpoint is useless, and I can't write test for this
**Activating (Unarchiving): won't affect Verification status - changes listing to "not reviewed"**
If it's a bug please tell me to fix that otherwise we can remove that from checklist

[2022-02-09 05:56] mohammadranjbarz commented on #343
Sorry it was my mistake, the description of statuses was misleading, so I misunderstood,

just another question if **User** activate the deactivated project we should change `listed` to null, what about when Admin activates a project?
@MoeNick

[2022-02-09 06:10] mohammadranjbarz commented on #343
@MoeNick
I wrote a migration file to change description/name of statuses in this PR, and I wrote a table for that, you can see that here
https://github.com/Giveth/impact-graph/tree/f_343_write_tests_for_changing_statuses_scenarios#statuses

[2022-02-09 17:31] mateodaza commented on #208
this is solved now

[2022-02-10 06:14] CarlosQ96 commented on #343
PR approved! All tests correlate the list.

[2022-02-10 11:55] MoeNick commented on #343
We had a talk with @mohammadranjbarz

@WhyldWanderer can u pls elaborate more in this usecase?

[2022-02-13 10:05] mohammadranjbarz commented on #342
<img width="1006" alt="Screen Shot 1400-11-24 at 12 19 40" src="https://user-images.githubusercontent.com/9850545/153745969-ed39783b-f8c2-4f1f-89e3-d939362bbe29.png">
@MoeNick  @divine-comedian

I have implemented a new page in donation page, so after you donated to projects by csv airdrop, you need to have `txHash`, price USD of that token at that time, then I will get token transfers of that tx

[2022-02-13 15:42] RamRamez opened #359 ""walletAddressIsValid" is case sensitive"
The results of this endpoint should be case in-sensitive

[2022-02-13 15:44] mohammadranjbarz commented on #359
Thanks
@CarlosQ96  or I would take it ASAP

[2022-02-13 15:45] MoeNick commented on #359
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/All-Devs-61644589b92edf0016f6999c/issues/Giveth/impact-graph/359?planning-poker) with ZenHub @CarlosQ96 @mohammadranjbarz

[2022-02-13 18:26] mohammadranjbarz commented on #312
It has been implemented through #358

[2022-02-13 19:39] mohammadranjbarz commented on #359
@CarlosQ96  I take this issue

[2022-02-14 05:59] mohammadranjbarz commented on #359
@RamRamez  I didnt see the problem that you said, I even wrote test cases for `walletAddressIsValid` to make sure, and I couldn't reproduce the problem that you said, could you give me two data to test with them?

For instance both of below queries return same result
[code]

[code]
<img width="1007" alt="Screen Shot 1400-11-25 at 09 28 11" src="https://user-images.githubusercontent.com/9850545/153

[2022-02-14 10:53] mohammadranjbarz commented on #285
@divine-comedian @MoeNick Sorry I had missed the last comment of Mitch, I have created a PR for fixing query in featehrs after merging that it would fix this issue

[2022-02-14 11:17] RamRamez commented on #359
@mohammadranjbarz
just by changing last character, it says "Eth address not valid"
![image](https://user-images.githubusercontent.com/73441857/153854308-6a788e46-0b9c-425e-823d-9b937bac23d1.png)

[2022-02-14 11:18] mohammadranjbarz commented on #285
@divine-comedian And the frontend side is not implemented yet, so we need to test it with calling webservice directly

[2022-02-14 11:48] mohammadranjbarz commented on #359
@RamRamez  That part is where we validate ethereum address with web3 , you can test it your self

1.
[code]
return **true**

2.
[code]
return **true**

3.
[code]
return **false**

So I think you can't just make just one of characters lowercase otherwise the wallet address would not be validated by `web3`
and it's out of our control, because in this query first of all we check validity of sent addr

[2022-02-14 11:51] mohammadranjbarz commented on #359
@RamRamez

You can test the address here https://www.rfctools.com/ethereum-address-validator/ as well, and you would see the address is not valid

<img width="1145" alt="Screen Shot 1400-11-25 at 15 20 42" src="https://user-images.githubusercontent.com/9850545/153859332-f409ed41-b535-454b-98cd-b4af0c91e5fb.png">

[2022-02-14 12:51] aminlatifi commented on #359
The address should be all lowercase, all uppercase, or be in the correct format. It's not possible to randomly make the characters lower and upper case

[2022-02-14 12:52] aminlatifi commented on #359
https://piyopiyo.medium.com/how-to-convert-ethereum-address-to-checksum-address-cd3e2305e2fc

[2022-02-14 15:58] MoeNick opened #361 "Having Draft Status for Projects and all of it's side-effects"
As the project owner I need to have an option to save the project as draft, (or having a preview of the project) so I can make edits and publish it late.

**Details:**
0- we need to have a draft status in DB

1-
saveProject():
Add an optional field, isDraft otherwise it would be active  by default

2-
getProject(I dont know exactly the name)
For draft status , user should be logged in and be admin

[2022-02-14 15:58] MoeNick commented on #361
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/All-Devs-61644589b92edf0016f6999c/issues/Giveth/impact-graph/361?planning-poker) with ZenHub @mohammadranjbarz @CarlosQ96

[2022-02-14 17:06] MoeNick commented on #342
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/All-Devs-61644589b92edf0016f6999c/issues/Giveth/impact-graph/342?planning-poker) with ZenHub @CarlosQ96

[2022-02-16 05:08] CarlosQ96 commented on #361
Taking up this issue today and tomorrow.

[2022-02-16 05:11] CarlosQ96 commented on #351
I saw Givingblocks email. They basically said they disable the project and it no longer appears on the API.
We can add more hours to this or simply manage this off-backend and delete them manually. Maybe the givingblocks team can notify us of a project deleted.

[2022-02-16 07:04] MoeNick commented on #361
Appreciate it, shall we have some estimates before we start?

[2022-02-17 19:52] divine-comedian commented on #285
@mohammadranjbarz  okay - how can I test this issue? should we wait for the frontend implementation?

[2022-02-18 10:52] mohammadranjbarz commented on #285
You can call queries directly like this, to see sort by trace donations amount works

[code]

[2022-02-19 05:52] CarlosQ96 commented on #361
Did points 0, 1, 3, 4 and the cronjob modified.
Regarding 2, I think logic regarding the status is done on the frontend. I'll modified it so it returns null if you are not logged in. Drafts shouldn't be visible. I assume it's the project by slug query and projectbyId

[2022-02-20 08:48] mohammadranjbarz commented on #361
@MoeNick

When getting list of projects of user should we return just `listed` and `active` projects?
I mean when visiting someone else projects not my projects tab

[2022-02-20 09:21] MoeNick commented on #361
Yes, yes :)

[2022-02-20 09:29] MoeNick commented on #361
We have owner view and public view,  listed and active is for getting in all public view (search, home page, projects, and project list of public profile )

But for the owner view, all statuses should be visible on my account -> list if projects,

We have a little bit different scenario for Project-Single page which is not the case, but we can discuss it in DM, thanks

[2022-02-20 09:39] mohammadranjbarz commented on #361
Thanks Moenick

[2022-02-21 05:50] mohammadranjbarz commented on #326
@MoeNick  As this issue is for writing automatic tests, I think you can move it to done

[2022-02-21 05:56] mohammadranjbarz commented on #361
@CarlosQ96  implemented this issue

@MohammadPCh  @RamRamez  @mateodaza

When calling `addProject` mutation, you can pass `isDraft?: boolean` to indicate after creation project should be `drafted` or `active` and `drafted` projects are visible just for project owner in `projectById` , `projectBySlug`, `myProjects` queries,
And you can't see `drafted` projects in `projects` and `projectsByUserId` q

[2022-02-21 15:00] MoeNick commented on #333
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/All-Devs-61644589b92edf0016f6999c/issues/Giveth/impact-graph/333?planning-poker) with ZenHub @CarlosQ96 @mohammadranjbarz

[2022-02-21 15:04] mohammadranjbarz commented on #333
I thinks it's one of our importnant mutaiotns we should consider these cases when writing automatic tests:

- [x] Creating donations for not logged in users
- [x] Create donation for logged in users
- [x] Create donation for logged in users bu anonymously
- [x] Create donations with  whitelist tokens
- [x] Create donations with not white listed tokens
- [x] Fill USD value for whitelisted tokens af

[2022-02-21 15:37] CarlosQ96 commented on #333
I agree with the test cases and the estimate.

[2022-02-21 15:38] CarlosQ96 commented on #333
I think we should add a transak donation test case too and for the webhook.

[2022-02-21 16:41] MoeNick opened #366 "Authentication for uploading pictures"

[2022-02-21 16:41] MoeNick commented on #366
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/All-Devs-61644589b92edf0016f6999c/issues/Giveth/impact-graph/366?planning-poker) with ZenHub @CarlosQ96 @mohammadranjbarz

[2022-02-21 16:52] MoeNick commented on #342
@divine-comedian @mohammadranjbarz need  csv sample , and transaction sample with whitelist givbacks tokens

[2022-02-21 19:28] CarlosQ96 commented on #366
This is done, it calls the checkIfUserInRequest and if user exists. If we do make another endpoint for cherik I'll include it on the other issue and reuse the same auth.

[2022-02-21 19:28] #366 closed, assigned to nobody

[2022-02-21 20:01] mohammadranjbarz commented on #342
not CSV,  **csv airdrop** transaction sample

@MoeNick  JFYI **csv airdrop** is an application like disperse that you can send tokens to multiple accounts with one transaction

[2022-02-21 23:38] WhyldWanderer opened #367 "Admin Dashboard - Need an export to .csv option"
As an admin, I want to be able to export a set of data into a .csv file.

[2022-02-21 23:44] WhyldWanderer opened #368 "Admin Dashboard - Improve search functionality (title)"
As an admin, It would be very useful to be able to search for projects by a title that may not be exact.

As of now if I search for a project it is case-sensitive and I am required to search for the 'exact' title, I would love to have more flexibility within the search.

[2022-02-21 23:45] WhyldWanderer opened #369 "Admin Dashboard - Improve Search Functionality (slug)"
As an admin, I want to be able to search for a project by slug.

[2022-02-21 23:47] WhyldWanderer opened #370 "Admin Dashboard - Improve Search Functionality (date range)"
As an admin, I would like to be able to search for all projects created between Date A and Date B.

[2022-02-21 23:55] WhyldWanderer opened #371 "Admin Dashboard - Mandatory updates for verified projects"
Verified projects will be required to make updates on their projects. If they go 3 months without making an update, their badge should automatically be revoked within the AdminBro.

If they make an update to their project after the badge has been revoked, it will need to be reviewed by the team and the badge reinstated... however the project should not need to resubmit a verification application.

[2022-02-22 01:26] WhyldWanderer opened #372 "Admin Dashboard - Admin roles/permissions and save history of changes"
Eventually we will need more people who can review and verify projects...

As of right now I am the only one on the verification team who can access the panel. I am hesitant to give anyone else access to the Admin Panel until we have roles/permissions and a way to track actions that were taken in the Admin Panel and by who.

Those who have access to this dashboard hold a lot of power and I would h

[2022-02-22 01:33] WhyldWanderer opened #373 "Admin Dashboard - Project Verification Buttons"
As of now, in the Admin Panel, we have two options for project verification - 'verify project' and 'unverify project'
So far we have not had to revoke any badges but when we do we will need another option.

Can we create 3 buttons?
'verify project' - changes the db value to true
'reject project' - changes the db value to false
'revoke badge' - changes the db value to false

We can then create a ne

[2022-02-22 17:52] CarlosQ96 commented on #369
This issue is on staging :D

[2022-02-22 17:57] MoeNick commented on #369
@CarlosQ96 When we can merge it to productiob? Ashley already accept it

[2022-02-22 18:08] CarlosQ96 commented on #369
I think we should coordinate a release, we haven't deploy some other features that are being worked on in the ts version. I shall talk to mohammad.

[2022-02-22 18:46] WhyldWanderer commented on #369
I realized that this issue is redundant: https://github.com/Giveth/giveth-next/issues/646

[2022-02-22 19:04] divine-comedian commented on #342
here you go! this is distributing DRGIV3 which will allow us to send out sample donations without using real funds on Gnosis Chain - All the addresses are currently projects on `next.giveth.io`. we won't necessarily need to have a whitelisted GIVbacks token to test this out for rainbow rolls - which is denominated in ETH.

[sample csv airdrop.csv](https://github.com/Giveth/impact-graph/files/81194

[2022-02-22 20:04] divine-comedian commented on #342
alternatively you could try this one, which will distribute native tokens - on Gnosis Chain this will be xDAI - on mainnet this is ETH which is the network and the token we're using to distribute rainbow roll funds

[sample csv airdrop - native tokens.csv](https://github.com/Giveth/impact-graph/files/8119818/sample.csv.airdrop.-.native.tokens.csv)

[2022-02-22 20:23] WhyldWanderer commented on #370
its not showing correctly
for instance it says that only one project was created between May 13th 2021 and Feb 8th 2022
![image](https://user-images.githubusercontent.com/74267818/155212991-4c235a71-a411-4de3-b467-9b5f1c711ff2.png)

[2022-02-22 20:32] MoeNick commented on #370
@CarlosQ96 I think another filter is applying here beside date range.

[2022-02-23 03:08] CarlosQ96 commented on #368
Underestimated this task, seems I gotta investigate a bit more, Adminbro not that flexible.

[2022-02-23 03:08] CarlosQ96 commented on #367
Writing a middle ware for downloading csv. Might take a bit longer.

[2022-02-23 03:49] CarlosQ96 commented on #373
@WhyldWanderer tried adding a new segment event but I get this error, do you know if we have a limit of events?
<img width="565" alt="image" src="https://user-images.githubusercontent.com/92376054/155258777-a62b8519-efeb-447c-8804-b3cdfd00800c.png">

[2022-02-23 04:08] WhyldWanderer commented on #373
Im not sure but I think @divine-comedian might know...

[2022-02-23 16:47] mohammadranjbarz commented on #342
Thanks but trying it with your CSV and I get an error

<img width="1920" alt="Screen Shot 1400-12-04 at 20 12 03 1(2)" src="https://user-images.githubusercontent.com/9850545/155366239-53c4f9a9-87d0-4c7e-a98e-e4ac69e5e102.png">

[2022-02-23 16:52] mohammadranjbarz commented on #342
It has some complexity for handling native tokens, so Griff said as long as we use this, not end user we can use `WETH` instead of `ETH` tso we don't have to implement that now

[2022-02-23 17:41] mohammadranjbarz commented on #342
I think Griff said while we are using this it's ok to just use `erc20` tokens , `WETH` instead of `ETH` because implementing
native token have complexity,
@GriffGreen  Am I right?

**PS** Remeber this is the automatic way, if we want to add donations one by one manually in db, we can do everything that we want , it's time-consuming but almost possible everything we want

[2022-02-23 18:23] mohammadranjbarz commented on #342
@WhyldWanderer  Now if we miss any donation, or we wanted to create a donation from a txHash we can use admin bro for that purpose

<img width="1133" alt="Screen Shot 1400-12-04 at 21 43 48" src="https://user-images.githubusercontent.com/9850545/155381601-98f8f9df-e023-40d0-951c-6341b1dc97ed.png">

You can test it by donating directly to a address of  a project and add it by this page  ( if the de

[2022-02-24 13:47] mohammadranjbarz opened #379 "Define integrate with third parties ( like givingblock, change, ...) policy"

[2022-02-24 14:07] aminlatifi commented on #379
1. If a project is removed, there is no webhook, CHANGE API said they would send us an email if necessary
Have a corn job that rechecks regularly and deactivates projects which are not available on givingblock anymore.
2. Only eth accepted
Preparing a service in the backend to resolve the valid tokens-network for every project.
3. SOME Projects in the CHANGE API  are also present in the Givingbloc

[2022-02-24 14:09] aminlatifi opened #380 "Valid token/network per project endpoint"
OrganisaionTable:
ThP name (Giveth / Givengblock etc)
Endpoint
OrganizationType

Policies Table:
eligible network
Token List

[2022-02-24 14:10] CarlosQ96 commented on #379
CHANGE API: https://docs.getchange.io/api/#Nonprofits-Show-a-nonprofit
GIVINGBLOCKSAPI: https://the-giving-block.gitbook.io/public-api-documentation/endpoints-documentation

[2022-02-24 14:12] CarlosQ96 commented on #379
V1 Diagram of CHANGE API integration: (ignore the api/v1/donations endpoint, I was told they handle that on their side)
[![](https://mermaid.ink/img/pako:eNptVE1v2zAM_SuEL9sAt8Wwmw8dlqZdh2Fr0KTbxRdGYmwttuRJcrOs6H8vFdmJk1i-WCL5-Pj5kggjKckSR39b0oKmCguLda6BD7be6LZeku3uwhsLT66_N2i9EqpB7eHOGu1Jy3PJD_JYo1ufSyYo1qMmNyXqgr7Mvp2LppNcx9fKmAbmWy1Kdq3-E_w0embNSnkHM7LKSCWwqrZRO5zOH1xcXx9cZHBHXpTBGnrzjfIlfL1dwB

[2022-02-24 20:07] divine-comedian commented on #342
@mohammadranjbarz  I found the error with the CSV file

this one should work now

[sample csv airdrop.csv](https://github.com/Giveth/impact-graph/files/8135417/sample.csv.airdrop.csv)

no problem in sending WETH

[2022-02-25 15:44] divine-comedian commented on #373
@CarlosQ96  You don't actually add the event in segment. Norrmally we'll just add the `analytics.track` code with the relevant information for each relevant mutation/function in the impact graph

e.g.

[code]

[2022-02-26 16:46] RamRamez opened #381 "Return user friendly error for projectById and projectBySlug"
Please return user friendly and specific errors for projectById and projectBySlug when a project is not found or a project is "Drafted" and user should be owner and signed-in to be able to view.

@mohammadranjbarz @CarlosQ96

![image](https://user-images.githubusercontent.com/73441857/155851439-efb24136-12a7-4a43-bd48-020b49a8823e.png)

[2022-02-27 13:40] aminlatifi opened #383 "Track image uploader users"
- We should record who has uploaded each image.
- Also, it will be beneficial if we record image size too in order to allow us to put a limit on how much each user can upload.
- We should track which images are used. If a user uploads an image (edit profile, create a project, etc.) but does not used it we should be able to remove it (release it on ipfs) after a while
- The image field in other ent

[2022-02-27 17:00] mohammadranjbarz commented on #342
@divine-comedian

I have problem on executing transaction with your `CSV` and I have lots of `DRGIV3` in my wallet
<img width="1920" alt="Screen Shot 1400-12-08 at 20 18 52 (2)" src="https://user-images.githubusercontent.com/9850545/155891755-ea46f0f8-bcbd-4ddb-992e-acbee3ad0320.png">

And I can't send `WETH` as well, it said I'm not the owner
<img width="511" alt="Screen Shot 1400-12-08 at 20 26

[2022-02-28 00:08] divine-comedian commented on #342
@mohammadranjbarz  Strange, was the DRGIV3 or other assets in your wallet or in the gnosis-safe? they need to be in the gnosis-safe to be able to send them.

Anyway here are the test transactions for DRGIV3 using CSV airdrop
https://blockscout.com/xdai/mainnet/tx/0xc78dc8ed7e0e08cb41f6f7614afe380814f90148b82c0c0b5151769d74e79105

and the same thing but with WETH
https://blockscout.com/xdai/mainnet

[2022-02-28 12:00] mohammadranjbarz commented on #342
Thanks a lot

<img width="1126" alt="Screen Shot 1400-12-09 at 09 54 34" src="https://user-images.githubusercontent.com/9850545/155979181-0ca6c9c3-3e55-4adc-bb2e-a56f071f966f.png">

You can fill the create donation form like this and you will see the donations are created, you can then filter donations with `txHash` to see whether donations are correct or not

**PS** If you uncheck `segmentNotifie

[2022-02-28 13:27] MoeNick commented on #296
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/All-Devs-61644589b92edf0016f6999c/issues/Giveth/impact-graph/296?planning-poker) with ZenHub @CarlosQ96 @mohammadranjbarz

[2022-02-28 13:28] MoeNick commented on #333
is it in progress?

[2022-02-28 13:28] MoeNick commented on #371
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/All-Devs-61644589b92edf0016f6999c/issues/Giveth/impact-graph/371?planning-poker) with ZenHub @CarlosQ96 @mohammadranjbarz

[2022-02-28 13:29] MoeNick commented on #383
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/All-Devs-61644589b92edf0016f6999c/issues/Giveth/impact-graph/383?planning-poker) with ZenHub @CarlosQ96 @mohammadranjbarz

[2022-02-28 15:30] MoeNick commented on #285
@mateodaza can you pls make sure it's being used for next and v2 version together.

[2022-02-28 15:31] MoeNick commented on #342
Hey @divine-comedian this is waiting for you to confirm and move to done :)

[2022-02-28 16:02] mohammadranjbarz commented on #372
@WhyldWanderer Role and permission is implemented in admin bro, you can create a user with `operator` role and test it in staging env

![Screen Shot 1400-12-09 at 19.31.52.png](https://images.zenhubusercontent.com/5fa7ed7fb0994323d1a66034/fd4070ca-d96b-4a8c-81b7-74eba5f4fe31)

[2022-02-28 16:48] divine-comedian opened #385 "Admin Dashboard - Search for project by recipient address"
as an admin it would be nice to be able to find a project by its recipient eth address using the filter feature

[2022-02-28 16:56] MoeNick commented on #336
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/All-Devs-61644589b92edf0016f6999c/issues/Giveth/impact-graph/336?planning-poker) with ZenHub @CarlosQ96 @mohammadranjbarz

[2022-02-28 19:38] CarlosQ96 commented on #371
Like we talked in the meeting. The scope is creating the cronjob that revokes badges only.
No more work is required.

[2022-02-28 21:44] divine-comedian commented on #342
Okay so I created a new transaction and sent out some WETH

https://blockscout.com/poa/xdai/tx/0xf248c5e272cc364718d72c2b3893404032ceeb76911eb66de2dcd0a5d5a5dad7

I then used the csv airdrop donation tool in the admin dashboard and created the donations in the DB
https://serve.giveth.io/admin/resources/Donation/actions/Donation?filters.transactionId=0xf248c5e272cc364718d72c2b3893404032ceeb76911eb6

[2022-03-01 09:28] mohammadranjbarz commented on #333
Yes through working on admin bro issues, I didn't spend time on this issue

[2022-03-01 09:39] mohammadranjbarz commented on #371
We should add some history records for these changes as well

[2022-03-01 12:40] mohammadranjbarz commented on #371
@WhyldWanderer  When revoking the badge of this kind of projects, is it needed to send email to project owner?

[2022-03-01 12:42] CarlosQ96 commented on #371
I think we can reuse the same revoke badge event I made for the adminbro.
However, I just noticed it's not being recorded in the segment analytics debugger.
I am not sure if there is a limit on events.

[2022-03-01 12:44] mohammadranjbarz commented on #371
Thanks for mentioning, I will look at that part of code

[2022-03-01 13:32] WhyldWanderer commented on #371
Yes. The reject button will trigger an email saying "your verification application was rejected" The revoke button will trigger an email saying "your badge has been revoked"

Carlos mentioned that we could do this using logic on the button itself..

[2022-03-01 14:08] MoeNick opened #388 "Have a cronjob to deactivate projects that are erased from thP API"
If a project is removed, there is no webhook, CHANGE API said they would send us an email if necessary
Have a corn job that rechecks regularly and deactivates projects which are not available on givingblock anymore.

[2022-03-01 14:09] MoeNick opened #389 "Differentiate similar projects from ThP APIs"
SOME Projects in the CHANGE API are also present in the Givingblocks, should we have repeated projects one for givingblocks and one for Change?

[2022-03-01 14:46] MoeNick opened #390 "Importing projects from CHANGE API in our staging"

[2022-03-01 15:06] MoeNick opened #391 "Change getProjectList and getSingleProject"
Pass the Organozation ID to frontend.

[2022-03-01 15:10] MoeNick commented on #391
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/All-Devs-61644589b92edf0016f6999c/issues/Giveth/impact-graph/391?planning-poker) with ZenHub @CarlosQ96 @mohammadranjbarz

[2022-03-01 15:11] MoeNick commented on #380
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/All-Devs-61644589b92edf0016f6999c/issues/Giveth/impact-graph/380?planning-poker) with ZenHub @CarlosQ96 @mohammadranjbarz

[2022-03-01 15:19] #389 closed, assigned to nobody

[2022-03-01 15:29] MoeNick commented on #390
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/All-Devs-61644589b92edf0016f6999c/issues/Giveth/impact-graph/390?planning-poker) with ZenHub @CarlosQ96 @mohammadranjbarz

[2022-03-02 05:12] mohammadranjbarz commented on #342
1. Yeah tokens should be in our whitelist, so you can't create donation of non-whitelisted tokens
2. We  don't have price history for all tokens, so we have to get it in create donation form
3. Time of donations has been fixed
4. Do you say that sender address for https://blockscout.com/poa/xdai/tx/0xf248c5e272cc364718d72c2b3893404032ceeb76911eb66de2dcd0a5d5a5dad7 should be **0xB6D8D84CA33C2e8fE3b

[2022-03-02 06:20] mohammadranjbarz commented on #372
@WhyldWanderer

You can test the second item as well, as you see I am logged in with mate@admin.com and after some changes, the history item appeared, and there si there that who and when made changes

<img width="1920" alt="Screen Shot 1400-12-11 at 09 48 13" src="https://user-images.githubusercontent.com/9850545/156306399-5696c800-5d4f-414a-919e-39d93a7273f9.png">

[2022-03-02 12:21] mohammadranjbarz opened #393 "Add adminUser to response of addPRoject and editProject"

[2022-03-02 12:54] CarlosQ96 commented on #371
Yeah I did it for the adminbro I will add it also on the revoke badge task.

[2022-03-02 12:56] mohammadranjbarz commented on #371
@CarlosQ96
Please add `isImported` field to project entity, then write a migration file to set this `true` for givingblocks and trace projects, and when creating those projects set `true` for those projects

And in revoke badge job exclude `isImported` projects

@MoeNick Am I right?

[2022-03-02 12:58] CarlosQ96 commented on #371
Yeah I think we can use that field for any imported project. (whether they are from giving blocks or in the future the change api)

[2022-03-02 13:49] divine-comedian commented on #342
Yes because this is the multisig that was holding the funds and sent them out

[2022-03-02 14:32] divine-comedian commented on #342
tested it out

https://next.giveth.io/project/2018-cmb
https://next.giveth.io/project/how-many-photos-is-too-many-photos
https://next.giveth.io/project/hugenduben

![image](https://user-images.githubusercontent.com/67759413/156381349-87bd54f2-8cfc-490e-9bcd-27cacd229932.png)

the date looks good! transactions showed up on the UI - however the donation sender is still showing as the "From" Address

[2022-03-03 13:47] mohammadranjbarz opened #396 "Implement createProject mutation to work with new version"
This webservice get image as pinataUrl in input

[2022-03-03 13:51] mohammadranjbarz opened #398 "Implement updateProject mutation to work with new version"
This webservice get image as pinataUrl in input, after finalizing new version of giveth.io we will remove `editProject` mutation

[2022-03-03 18:52] mohammadranjbarz commented on #398
@RamRamez  please move it done when you thought this works good

[2022-03-03 18:53] mohammadranjbarz commented on #396
@RamRamez  please move it done when you thought this works good

[2022-03-03 19:30] mohammadranjbarz commented on #342
@divine-comedian
Thanks for guiding me, now the fromAddress has been fixed, I deleted the donations that you had created, so you can create donations by https://blockscout.com/xdai/mainnet/tx/0xf248c5e272cc364718d72c2b3893404032ceeb76911eb66de2dcd0a5d5a5dad7 again

[2022-03-03 22:21] RamRamez commented on #398
I don't have permission to move.

[2022-03-04 02:37] WhyldWanderer commented on #371
I am realizing something about this...

When this is implemented, it will revoke all badges of projects that havent added updates in the past 3 months.
We need to have time to communicate this to current project owners so that they have a chance to add updates before revoking their badges. Unless there is a way to make our current project list exempt for a certain amount of time after implementati

[2022-03-04 12:21] mohammadranjbarz commented on #398
@MoeNick  Ramin approved this change, you can move it to `Done`

[2022-03-06 13:31] MoeNick opened #402 "write migration pictures prefix to https://giveth.mypinata.cloud/"

[2022-03-06 18:04] divine-comedian commented on #342
donations now showing up as anonymous - I'm assuming this is our multisig

![image](https://user-images.githubusercontent.com/67759413/156935862-245f30ce-8cd6-418d-8a0c-ec2b241889b6.png)

I think this is good enough to call done!

@mohammadranjbarz  is this ready to use on the production db? Let me know so I can finalize the Rainbow Rolls distribution.

[2022-03-06 19:55] CarlosQ96 commented on #371
On top of this, I was talking to Mitch, and we should add emails for every month/two months telling the project to add updates.
Regarding the GivingBlocks they are excluded from this project.
What do you think about the traceable badge? @mohammadranjbarz  Should I exclude trace projects too?

I shall add and activation date for this process so we can get the communications going.

[2022-03-07 08:16] mohammadranjbarz commented on #342
1. Yeah I have set the `annonymous` flag to `true` should I change it to `false`? ( And we should make sure there is a user with our multisig walletAddress in our db)

2. I don't know what is our plan to deploy our changes to production, I think we would do it when releasing the new Dapp ( typescript version), @MoeNick  @mateodaza  Am I right?

[2022-03-07 08:29] mohammadranjbarz commented on #371
It's business decision but from technical side I would tell it's not good to revoke givingBlock and traceable badge, because with revoke that we are telling that they are not connected to third party, but there are, so we need to add some additional fields, and additional checking that they  may our codes and logics  messy

@MoeNick  What do you think about all these stuff?

[2022-03-07 09:12] MoeNick commented on #371
@mohammadranjbarz @CarlosQ96
1- please exclude trace and givingblock and third party projects from this change.
2- Sending emails is not in this issue, this issue which is planned is only applying to the discussed job.
3- pls keep the track of changing log, aiming that we can add a view to adminbro later showing the status reason of "not proving updates in 3 months"

[2022-03-07 09:17] MoeNick commented on #342
If it doesn't have side effects on the current live app, I'm ok to do it now. Or you can wait until next week with the Nowruz release.

[2022-03-07 13:58] divine-comedian commented on #342
I'd love to do it now so I can complete the Rainbow Rolls issue and send funds out to projects.

[2022-03-07 16:13] WhyldWanderer commented on #371
I plan to create a spec document for mandatory updates to include the requirements for all WGs involved.
I will share the document here once I have started. It will be good to have this so that we can make sure that all parties are ready for implementation on production before migrating from staging. (Comms, Dev, Design, Admin, etc)

[2022-03-07 20:01] WhyldWanderer opened #407 "GIVbacks Calculation Script - Consider dates of verification status"
The project verification team awards badges at the beginning of each round.

The review team cannot run the scripts until after the round ends so we are capturing incorrect data.

The problem:
When the review team runs the scripts for Round 5 data (eligible donations), it is including donations that were made to projects that were not verified yet when the donations were made.

We need to consider

[2022-03-08 17:16] WhyldWanderer commented on #372
Tested and confirmed working on staging!

[2022-03-14 14:14] mohammadranjbarz commented on #333
@MoeNick
As it has just technical side, you can move it to  **DONE**

[2022-03-14 14:47] mohammadranjbarz commented on #407
I have better idea , instead of tracking history of status changing of projects, I will put a field in donation named  `isProjectVerified`, and if the project is verified at the  time of the creation of donation I set `true` for that field , and in givback script I use this field to know if donation is eligible or not, it's very easier to implement

[2022-03-15 18:44] mohammadranjbarz commented on #380
@MoeNick
Now we have an endpoint that frontend can use that for knowing a projects accept what tokens, I think you can create an issue for frontend DEVs to implement it later

This is the graphql query sample:

[code]

**PS**
As the changes are huge besides testing this query I think  all of main scenarios, like create/edit projects and donation should get tested through this issue

[2022-03-15 22:27] divine-comedian commented on #342
waiting for this to be pushed to production to finish out the rainbow rolls distro @MoeNick @CarlosQ96

[2022-03-16 04:30] CarlosQ96 commented on #370
Haven't been able to reproduce this issue

[2022-03-16 09:21] MoeNick opened #416 "Backend Validation issues over project status businesses"
Talking about all detail information, not list view:

- [x]  Prevent Public View of Draft Projects
- [x] Prevent Public View of Cancelled Projects
- [x] Show the Cancelled Project to the owner
- [x] Show the Draft Project to the Owner

---------
- [x] Prevent Editing on a project without owner credentials
- [x] Prevent ANY donations over deactivated projects
- [x] Prevent ANY donations over cancel

[2022-03-16 10:12] mohammadranjbarz commented on #416
I'll handle #381 in this issue

[2022-03-16 10:46] mohammadranjbarz commented on #416
@MoeNick  I set validation to just `active` projects accept donation

[2022-03-16 22:52] CarlosQ96 opened #422 "Recalculate Total Received and Total Donated"
Changing the data type to the correct one and rerunning migrations.

[2022-03-17 07:49] mohammadranjbarz commented on #342
@divine-comedian

Now we have rainbow rolls feature on production, sorry for taking too much time, it was huge release so we couldn't do it sooner

[2022-03-17 10:27] mohammadranjbarz opened #426 "Using asymmetric sign for jwt, to frontend can validate token by public key"
@aminlatifi
If we implement this, then frontend can always validate access token locally by just a function call

[2022-03-20 04:19] mohammadranjbarz opened #430 "Mask internal server errors before sending response to client"
When there is a probelm in connecting to db our apollo server return host of DB in response, I simulated it in my local system by stopping postgress container and Got this

![Screen Shot 1400-12-29 at 07.42.23.png](https://images.zenhubusercontent.com/5fa7ed7fb0994323d1a66034/8d714d1a-9f31-40dd-b583-10f9afbb0c6e)

I think it's security vulnurability

[2022-03-21 13:45] mohammadranjbarz opened #433 "Add PoignArt donations automatically to our db"
We should write a job to periodically check PoignArt subgraph and for every withdrawal we need to create a donation in our db
https://hackmd.io/pQpfEtW7T4u93D6Q7O3-yQ

We should use this query
[code]

`$unchainAddress` : **0x10E1439455BD2624878b243819E31CfEE9eb721C** ( @laurenluz  gave me this) and this is the walletAddress of https://giveth.io/project/unchain-fund

**PS**: the transfers are just

[2022-03-21 14:47] mohammadranjbarz opened #434 "Improve create rainbow roll donation page"
- [ ] Should set `isProjectVerified` to `project.verified` for these donations, currently we set `false` for it ( and we should remove it's checkbox)
- [ ] Select clear name  for segment notified checkbox
- [ ] We can send the segment immediately instead of delegate it to our job to send it later

[2022-03-22 00:32] CarlosQ96 commented on #336
@mohammadranjbarz I saw you added tests for this already, added one for an empty case and thats it. But this is practically done.

[2022-03-22 05:28] mohammadranjbarz commented on #336
Thank you man

[2022-03-23 12:53] aminlatifi opened #441 "Support custom tokens for Giveth (not third party) projects"

[2022-03-23 13:24] mohammadranjbarz commented on #441
- [x] Set a field name `supportCustomToken` to `organization` table ( with `false` as default value)
- [x] Write a migration file to set this field `true`  `giveth` and `trace` organization
- [x] In `donation` table we should add a field `isTokenEligibleForGivback`
- [x] in `saveDonation` mutation we should check if sent token is not in project(organzation) token list , we check if organization su

[2022-03-24 02:45] CarlosQ96 commented on #441
The isTokenEligibleForGivbacks should go in the token table also too no?
Maybe other tokens might be in the list but not elegible for givbacks. Correct me if I am wrong with the business logic.

Everything else seems good.
Do we still use ```projectByAddress``` ? if so we should also return the organization there.

[2022-03-24 06:00] mohammadranjbarz commented on #441
Thanks, nice suggestion about `projectByAddress`

`isTokenEligibleForGivbacks` can't be in token, because a token can be eligible for givback for an organization but for another organization it can be not-eligible, so when creating donation we should consider that and fill this field in donation ( and givback-calculation would check that field

[2022-03-24 11:23] mohammadranjbarz commented on #441
@RamRamez
After merging PR of this issue you can get organization when getting project/projects
example:

[code]

[2022-03-24 11:49] mohammadranjbarz commented on #441
I asked @RamRamez and he said they dont use projectByAddress in frontend

[2022-03-25 01:31] divine-comedian commented on #267
hey guys - revisiting this issue on the new dapp
`staging.giveth.io`

I can see the filter for traceable projects work well but when I sort by verified I can still see non-verified projects in the list.

![image](https://user-images.githubusercontent.com/67759413/160037066-6f182570-fa3e-4623-8159-72695f8b4112.png)

[2022-03-26 14:44] CarlosQ96 opened #445 "Issue add uniqueness to emails"
This is causing issues in the adminbro login, multiple people with the same email. OR we move the adminbro login to another entity

[2022-03-26 14:59] CarlosQ96 commented on #445
This is serious as we are having duplicated users with different wallets but same email, this can also conflict many other log ins.

@MoeNick

[2022-03-26 15:00] CarlosQ96 commented on #445
This could be the reason people can't see their projects.
They log in, but the db matches a duplicate without their project, the UI says they are logged in with correct address/email but in reality they aren't. So they can't see their project. I remember there was 1 report of this issue before.

[2022-03-26 15:06] CarlosQ96 commented on #445
Maybe adding uniqueness RIGHT AWAY isn't the solution. But moving the adminUser to another entity would reduce login issues.

[2022-03-26 20:14] CarlosQ96 opened #446 "WalletAddress should be case insensitive on users"
WALLETS are CURRENTLY CASE SENSITIVE
This can cause the issue when an admin changes the address and then the user logs in with the wallet, creating two different users. Old users experience this issue more.

Wallet should be case insensitive @MoeNick

[2022-03-26 20:23] CarlosQ96 opened #447 "Adminbro User table is stretched out"
Minor issues gotta fix the table its looking bad.
<img width="693" alt="image" src="https://user-images.githubusercontent.com/92376054/160255812-7d220bd2-ff77-4d97-acab-97936446ef3f.png">

[2022-03-27 13:59] MoeNick commented on #445
I didn't get the point, sorry
we added uniqueness of email for admin bro login?

[2022-03-27 14:04] CarlosQ96 commented on #445
No. Look at the image:
![image](https://user-images.githubusercontent.com/92376054/160285300-3fdf85b5-f3ce-4ea8-9254-e7c33850d0f9.png)

[2022-03-27 14:05] CarlosQ96 commented on #445
So while testing with Ashley some other stuff. We found she had in prod 6 accounts. 1 of them is the admin account too.

So when trying to log in by email in the adminbro. The db was selecting the wrong user (that doesn't have password) and returning error that it didn't match her password.

[2022-03-27 14:05] CarlosQ96 commented on #445
Admins from adminbro use the same entity as the normal Users, so they can overlap, we should separate them.

[2022-03-27 14:06] CarlosQ96 commented on #445
And as we can see, emails are not unique. They can be repeated.

[2022-03-27 15:15] MoeNick commented on #445
Oh thanks @CarlosQ96 I got it.

[2022-03-27 15:43] MoeNick commented on #445
Thank for making it clear @CarlosQ96, another solution might be adding roles to the user table, so only admins are considered as AdminBro users.
We may need this for further multi-level account feature in the future.

[2022-03-29 13:35] divine-comedian opened #449 "Segment - Project Edited constantly being triggered"
**From Discord:**

looks like there's something funny happening on segment

I'm checking the activity for both Giveth-Development and Giveth-Production, there seems to be a wall of Project Edited sends - however on production it seems to be a cycle of the same 4-5 projects constantly being edited.

on development it appears to be the same thing, however some of the projects on development are my p

[2022-03-30 02:04] CarlosQ96 commented on #390
To test this, go into the adminbro:
Enter **Third Party Project Imports** link to the left. It will take you to this page where you will be able to create a new import from the changeAPI.
<img width="1480" alt="image" src="https://user-images.githubusercontent.com/92376054/160735694-61a1840d-77b9-4a79-99d1-c57a33875b3f.png">

This project should be visible in the site. To import the project write

[2022-03-30 02:09] CarlosQ96 commented on #390
Project duplication is not allowed. Honestly this is pointing to prod projects because there is no staging on the changeAPI.
I wrote some tests for testing donations.

[2022-03-30 02:10] CarlosQ96 commented on #390
@MoeNick you can search more projects in this link https://getchange.io/nonprofit/?address=D1XBJG85gs7DT43TraBBpUiLpDBQ8zrTLyjneP5onaWw in the search bar.
And import them.
I think this is ready to be merged after testing in staging.

[2022-03-30 08:51] MoeNick commented on #390
Good job @CarlosQ96 Thanks
The funny thing is we say it's a GivingBlock project on our UI. Like this:
https://giveth-dapps-v2.vercel.app/project/alzheimers-association
Do we set proper Org config for them?

[2022-03-30 10:31] aminlatifi opened #452 "Check uploaded file to be image"
Our upload endpoints save the file to IPFS as they are sent by the client. It's worth to check the file is really an image. The logic has already been implemented in feathers server.
https://github.com/Giveth/feathers-giveth/blob/develop/src/services/uploads/uploads.hooks.js

[2022-03-30 12:39] CarlosQ96 commented on #390
Hello @MoeNick I think the frontend has to do a change, thanks for finding it.
On the db it has the proper org
<img width="122" alt="image" src="https://user-images.githubusercontent.com/92376054/160836145-e20b6e98-8a52-4fb0-ad7c-0fe3f4bb02d7.png">

Frontend now has the organization available by the organization attribute. Mateo used it for the custom tokens.
@mateodaza

[2022-03-30 12:43] mateodaza commented on #441
we're currently using givingBlocksId to know if the project comes from there, should we move this to the organization field? do change projects have their own ID?

[2022-03-30 12:46] CarlosQ96 commented on #441
@mateodaza PRojects now have a column called isImported which tells you if its a third party project.
But you should check the organization to know from where it is.
This are the labels.
[code]

[2022-03-30 12:47] mateodaza commented on #441
@CarlosQ96 cool yes! I saw, but I mean the ID, maybe we need that? not sure if CHANGE have one, I know trace and giving block do

[2022-03-30 12:48] CarlosQ96 commented on #441
For now it's, Change also has an id.
changeId
<img width="232" alt="image" src="https://user-images.githubusercontent.com/92376054/160838108-39f4c0b2-e589-410e-aeaa-097af14fc1c6.png">

[2022-03-30 12:49] CarlosQ96 commented on #441
<img width="232" alt="image" src="https://user-images.githubusercontent.com/92376054/160838065-81754667-dc34-431b-856d-114130c72c37.png">

[2022-03-30 12:50] mateodaza commented on #441
ok! maybe consider moving that to the organization field it's gonna be cleaner for the frontend to read

[2022-03-30 12:57] CarlosQ96 commented on #441
Yeah but the organization ID is per project so I can't move it to the org. Unless we do an intermediete model. between org and project.

[2022-03-31 16:38] CarlosQ96 commented on #433
@MoeNick This is also ready the cronjob is running in staging with the poignArt and it added the two test donations to our server
![image](https://user-images.githubusercontent.com/92376054/161100398-e4d73356-8b21-45c2-9d71-5394ca59cfb1.png)

[2022-03-31 16:39] CarlosQ96 commented on #433
![image](https://user-images.githubusercontent.com/92376054/161106362-e4b4db69-e97e-4032-95c7-831256accf8c.png)
on staging they are visible on my project
https://giveth-dapps-v2.vercel.app/project/ok-title

[2022-03-31 16:40] CarlosQ96 commented on #433
But as you can see the donor is empty because this is a contract doing the donations and we fetch from their subgraph.
What should we show in the donor? We added a donationType='poignArt'
I didn't feel setting it as anonymous was right.

[2022-03-31 16:41] CarlosQ96 commented on #433
This is the test address they gave us to simulate this in staging, donations are added to that project as you can see in the pictures: 0x66f59a4181f43b96fe929b711476be15c96b83b3

[2022-03-31 22:23] divine-comedian commented on #267
testing on `staging.giveth.io`

now when I sort by `Verified` ONLY verified projects show up on this list! this final issue seems to be resolved! great work.

![image](https://user-images.githubusercontent.com/67759413/161159421-f67bab5a-09f0-4c8f-affc-3049dfd3e36b.png)

[2022-04-02 05:04] mohammadranjbarz commented on #433
@CarlosQ96  Thanks man for finishing it

[2022-04-03 05:57] mohammadranjbarz opened #458 "Add some tokens to givingBlocks organization (write migraiton)"
related to https://github.com/Giveth/giveth-dapps-v2/issues/245#issuecomment-1084817184
As @CarlosQ96  said to me in DM:

https://github.com/Giveth/giveth-next/blob/mateo-mig/src/utils/erc20TokenList.js#L1093-L1113
I only saw in the migrations file that Eth was related to givingblocks projects

I or @CarlosQ96  would take this issue if we were free ASAP

[2022-04-03 18:15] mohammadranjbarz commented on #330
We already have these test cases

[2022-04-03 18:15] #330 closed, assigned to nobody

[2022-04-04 15:59] mohammadranjbarz opened #462 "Add isGivbackEligible t token entity"
During the weekley sync meeting we talked about tokens and as result I think we should these steps
- [x] Add a boolean to token entity named `isGivbackEligible`
- [x] Write a migration to set `true` for `isGivbackEligible` for existing tokens, these should be checked by @laurenluz
- [x] When in donationResolver.saveDonation() we fill `isTokenEligibleForGivback` we should consider just we can set i

[2022-04-04 16:07] CarlosQ96 opened #463 "Add an adminbro tab to create new tokens that are accepted and relate it to organizations."

[2022-04-05 06:26] CarlosQ96 commented on #462
Just missing the adminbro item, will think it through tomorrow. Not completely sure how do do the organization selection part just yet, considering the adminbro inflexibility.
Probably a custom entity again...

[2022-04-09 07:44] mohammadranjbarz opened #470 "Refactor DB queries ( by moving them from resolvers and reuse them)"
We use queries directly in our resolvers , and it makes our code messy, I suggest we should move the queries to a separated file like https://github.com/Giveth/impact-graph/blob/staging/src/repositories/userRepository.ts in this way we can write unit tests for every function(query) and we can reuse them ( currently we have written some queries in several resolvers and it makes it hard to maintain)

[2022-04-10 05:47] mohammadranjbarz opened #471 "Update node version of project ( dockerfile, ci/cd , ..) to 16"

[2022-04-11 06:38] mohammadranjbarz opened #475 "Just save verified donations in totalDonations in project entity"
Now we save projects donations amount in a field name `totalDonations`, and we have some sorting in our system based on `totalDonations` but there is a bug there because a user can saveDonation with a huge amount on some projects ( without really donating) and this project will come first in this sorting, I suggest we should just count `verified` donations ( I mean the donations that got verified

[2022-04-11 06:57] mohammadranjbarz commented on #475
@MoeNick
Could you move this issue to impact-graph?
I can't do it myself

[2022-04-11 10:42] MoeNick opened #477 "API: Third Party Client Credential Token Requesting Service"
As a third-party ORG, I need to call a service to get a token to interact with Giveth APIs, named Apigive.

Details:
We have to create a table for ORG, their names, their app id, their trusted server IP and their callback URL, also a pass for their app, pls note every ORG may have several app.  We also have a public key for each ThP ORG.

They have to request a private key for accessing special **

[2022-04-11 11:00] MoeNick opened #478 "View the list of requests made by a client and the status of the request"

[2022-04-11 11:00] MoeNick opened #479 "Get a List of Projects"

[2022-04-11 11:04] MoeNick opened #480 "Get Detail of a project"

[2022-04-11 11:05] mohammadranjbarz commented on #477
@MoeNick
All READ APIs are already accessible for everyone, so we don't need to add scope/permission token for them unless you want some other READ web services

[2022-04-11 11:05] MoeNick opened #481 "Get the list of donations for a project"

[2022-04-11 11:06] MoeNick opened #482 "Get the list of updates in a project"

[2022-04-11 11:06] MoeNick opened #483 "Get All user public information. (3 related webservices)"

[2022-04-11 11:07] MoeNick opened #484 "Create a user ( update it with a user profile)"

[2022-04-11 11:09] MoeNick commented on #477
@mohammadranjbarz we need to know which Th-P requested or call which web services and we have to provide of following up webservices to them to get all of their requests and see what was the result (200, 400, 500 ? ),  so I think adding scope may be useful.

[2022-04-11 12:03] #80 closed, assigned to cquinterom096

[2022-04-11 12:07] mohammadranjbarz commented on #477
Hmm, you are right, for tracking their API calls it's better to have that, and it's better to implement new webservices for this purpose instead of exposing existing APIs to third parties

[2022-04-11 12:43] MoeNick commented on #244
DO we need to keep this?

[2022-04-11 12:44] #257 closed, assigned to aminlatifi

[2022-04-11 12:53] #246 closed, assigned to nobody

[2022-04-11 14:00] mohammadranjbarz opened #485 "priceUsd of imported poignArt donations is invalid"
I figured it out that donaiton has invalid price

query:
[code]

* Produciton Donation
![Screen Shot 1401-01-22 at 18.21.18.png](https://images.zenhubusercontent.com/5fa7ed7fb0994323d1a66034/a7d906ae-d77d-43a9-a268-44c39ab55f65)

* Staging donation
![Screen Shot 1401-01-22 at 18.24.37.png](https://images.zenhubusercontent.com/5fa7ed7fb0994323d1a66034/93af69f1-cdb5-4616-93d9-d951cbeaca3c)

[2022-04-12 15:14] mateodaza commented on #271
@MoeNick does this have priority now?

[2022-04-12 16:02] MoeNick commented on #271
If we have bandwidth we’d better fix it, the visual view of giving block projects are not interesting at all 😔

[2022-04-13 07:00] mohammadranjbarz commented on #463
@MoeNick @WhyldWanderer
Now the PR of @CarlosQ96 is depoyed on UAT,
you can test it now, I made a checklist for anyone who wants to test
- [x] Relate/Unrelate organizations to tokens (After these changing you should see the changes of token list in donate page of projects)
- [x] Add new tokens
- [x] Edit existing tokens
- [x] Only admin can edit tokens ( Operators  can't)

[2022-04-15 21:25] divine-comedian commented on #463
testing on `https://serve.giveth.io/admin`

I am on the `Token` tab I try to add a new token - I enter all the information and hit save and this error appears:

![image](https://user-images.githubusercontent.com/67759413/163633580-c1bf3026-7293-420f-a211-1269522f6323.png)

however the token appears to be successfully added to the list
![image](https://user-images.githubusercontent.com/67759413/163

[2022-04-15 21:32] CarlosQ96 commented on #463
Funny it says, Error 200, when 200 is status OK

[2022-04-15 21:32] CarlosQ96 commented on #463
I'll take a look

[2022-04-15 21:41] divine-comedian commented on #463
More Testing - I can successfully edit the info of a token. changing the name and changing which platform it can be used on. when i remove it from giveth it no longer shows on the donate page. however when I add it to Trace I can not find the token anywhere on the list to donate - however we can see there are many tokens eligible in trace to be donated

![image](https://user-images.githubuserconte

[2022-04-15 21:42] divine-comedian commented on #463
I only have access to an admin account - do we have a dummy operator account I can test with @CarlosQ96 ?

[2022-04-15 21:48] CarlosQ96 commented on #463
I don't but you can create it in the user admin page if you are an admin

[2022-04-18 00:36] CarlosQ96 commented on #289
Got it

[2022-04-18 04:44] CarlosQ96 commented on #463
Fixed the routing and also my index for unique addresses is working but we are allowing saving address with capital letters (considered different).

Adding the lowercase constraint on the form, so regardless if you type it uppercase or lowercase it will always be lowercase when inserting to the db.

[2022-04-18 04:47] CarlosQ96 commented on #463
@RamRamez @MohammadPCh Regarding trace not showing tokens in the frontend, is there any constraint there?
We have tests in the backend validating trace tokens returning just fine, and I don't see any complex logic that excludes trace tokens.
Let me know if you find anything.

[2022-04-18 04:47] CarlosQ96 commented on #463
@pkretzschmar

[2022-04-18 12:30] divine-comedian commented on #463
confirming that as an operator I can't edit the token lists -
![image](https://user-images.githubusercontent.com/67759413/163808514-d701ae9b-8e5e-4455-9c58-925dd95950f3.png)

I'll wait for updates and come back to testing the rest of this issue

[2022-04-18 14:37] CarlosQ96 commented on #463
@mateodaza

[2022-04-18 14:44] mateodaza commented on #463
![image](https://user-images.githubusercontent.com/18689480/163824981-2a78e797-6f1e-46e4-ba43-f55eab7f050d.png)

Trying with this new token it works. Can you confirm with a new token @divine-comedian

[2022-04-18 16:04] mohammadranjbarz opened #491 "Add impactLocaltion to project params of exported googlesheet"
Like we did in #489

[2022-04-18 19:28] CarlosQ96 commented on #491
@mohammadranjbarz the impact location is already present! I added the null case '', in case it's empty. But it should show up.

[2022-04-19 05:00] mohammadranjbarz commented on #491
@CarlosQ96  You are right man, we have it

[2022-04-19 05:05] mohammadranjbarz commented on #491
<img width="1272" alt="Screen Shot 1401-01-30 at 09 35 55" src="https://user-images.githubusercontent.com/9850545/163923932-441f3721-ced7-4ac2-9fc6-a0366a05cf6b.png">

It seems we made a bug with #489

[2022-04-19 05:21] mohammadranjbarz commented on #289
<img width="1041" alt="Screen Shot 1401-01-30 at 09 49 35" src="https://user-images.githubusercontent.com/9850545/163925294-45e8ab39-8bc0-4ac5-a7ef-d45cd41cd0ee.png">

I deleted the poignArt donations and the new created donations have correct `priceUsd` and `valueUsd`
@MoeNick  so we can move it to done

[2022-04-19 05:42] mohammadranjbarz commented on #491
<img width="1043" alt="Screen Shot 1401-01-30 at 10 11 17" src="https://user-images.githubusercontent.com/9850545/163927690-7fdd5690-8dd1-44e8-94b2-b7d75cdc300b.png">

There is not project that have `impsactLocation` and `website` at the same time, so it's not our codes bug, we just don't have both for them

[2022-04-19 06:37] mohammadranjbarz opened #493 "We should not use ts-node in production to improve time of project launch"
https://stackoverflow.com/questions/60581617/is-it-a-bad-practise-to-use-ts-node-in-production#:~:text=No%20you%20shouldn't%20use,compiler%20and%20files%20in%20memory.

We use `ts-node` in production, but best practice is that we build the ts files and in production we just use the js file and start that file

[2022-04-19 12:38] divine-comedian commented on #463
@mateodaza
`staging.giveth.io`

no ser I tried a couple different keywords and scrolled the entire list and could not find your token - I also have a different token that shows up on the same keyword search..
![image](https://user-images.githubusercontent.com/67759413/164005683-4dc025b0-fef7-4914-8931-862113748771.png)

[2022-04-19 13:37] divine-comedian commented on #463
sorry there was a misunderstanding on this issue - I was testing to see if the tokens showup on `develop.giveth.io` but the intention was for the tokens to show up for traceable projects on giveth.io - I check w/ mateo and the test token he created does show up on `staging.giveth.io`

![image](https://user-images.githubusercontent.com/67759413/164016288-90da15b0-d2b3-48c8-ad2a-61b09df75463.png)

[2022-04-19 13:37] divine-comedian commented on #463
any other blockers to call this DONE?

[2022-04-19 13:40] CarlosQ96 commented on #463
I call it DONE!

[2022-04-20 08:28] mohammadranjbarz commented on #493
We can get idea from this project
https://github.com/Giveth/apiGive

[2022-04-20 12:04] MoeNick commented on #463
@divine-comedian would you please check it on production and make sure it's correct? Especially for Change and Givingblock projects on different networks.

[2022-04-20 13:45] divine-comedian commented on #463
what does "Change" signify? what do you mean by different networks? mainnet and Gnosis Chain?

[2022-04-20 16:21] divine-comedian commented on #463
testing on `giveth.io`

I added a new token (EOS) on `mainnet` to all organizations and it appears they show up for traceable projects

![image](https://user-images.githubusercontent.com/67759413/164275483-d674a873-49cb-415c-a2bc-69821584b71f.png)

as well as for Giving Block projects
![image](https://user-images.githubusercontent.com/67759413/164275961-985cf9b5-112b-4eb8-bf21-ec840f9140f8.png)

I

[2022-04-25 09:03] MoeNick opened #496 "Set validations for creating donations"
According to [THIS ISSUE - happening on staging ](https://github.com/Giveth/giveth-dapps-v2/issues/596) we have to set validations for input parameters on creating donations, like: Amount, Token, and all necessary input parameters which have effects on the DAPP functionality.

[2022-04-25 10:17] mohammadranjbarz commented on #496
@MoeNick
Setting validation for `Token` is impossible, because we don't have a list of all tokens, we just can validate the name structure, for instance the tokens should contain just alphabet characters, not numbers or special characters

[2022-04-25 14:00] CarlosQ96 commented on #496
This have the face of tests done by the security team  spoofing doc that was published.
Ill confirm, but like mohammad said, a perfect validation of the token is imposible with just what we have and allowing custom tokens.

We can add some other validations like numbers positive and things like that.

[2022-04-25 14:36] MoeNick commented on #496
Im going to create other issues related to security reported issues

[2022-04-25 17:57] mohammadranjbarz commented on #496
@MoeNick
These validationhave been  added by @FatemeGhasemi

* Amount of donations should be greater than 0
* Token symbols should just contain alphabet characters and length of that should be less than 10
* There is a migration for deleting donations with negative amount from DB (For fixing https://github.com/Giveth/giveth-dapps-v2/issues/596)

[2022-04-27 21:13] divine-comedian commented on #385
@CarlosQ96 @mohammadranjbarz  this would be an awesome feature

[2022-04-27 21:20] CarlosQ96 commented on #385
I can add this, there is not much effort to it. But some projects have their addresses lowercase/uppercase so ill check that first. Maybe ill have to convert all to lowercase.

[2022-04-28 05:10] mohammadranjbarz opened #500 "Implement /apigive/donations in impact-graph with basic auth"
I suggest having a router and controller for apigiv endpoints with prefix of `/apigive` in this way we can restrict access to this endpoint just for internal services ( by nginx) but for making sure we don't have vulnerability it's good to have basic auth as well, I think it's good to be REST for apigive webservices, for first webservice we want this

`/apigive/donations POST`
input
[code]

And we

[2022-04-28 10:57] RamRamez opened #501 "Change source images should be uploaded to ipfs/pinata"
@MoeNick @CarlosQ96

currently we can't show `change` project images on project card because the src of images are unknown subdomain of cloudfront
e.g.: https://d2jyzh4ah9xf6q.cloudfront.net/n712i7lou0l782u36ktvlvfybsgh%22

Please upload current and future `change` projects to pinata/ipfs

![image](https://user-images.githubusercontent.com/73441857/165737139-583b38d8-b339-40bb-be24-cdacf6c3ee63.pn

[2022-05-02 06:05] mohammadranjbarz opened #503 "Implement /health GET endpoint for easy monitoring"
The graphql endpoints are POST, so it's better to have a /health endpoint by express in this project so we can use it in online monitoring services like uptimerobot to can be informed on time when we are down

[2022-05-02 11:31] mohammadranjbarz opened #505 "Docker container had been stopped suddenly"
After 4 days of our last deployment, all of a sudden we saw that our backend is down and after checking production server I noticed that the docker container is not running anymore, I brought up the docker-compose and the problem has been fixed, but now our question is why this happened, and how we can prevent it, I know the problem is very vague but this is the only data we have

@geleeroyale  I

[2022-05-09 06:20] mohammadranjbarz commented on #478
related to https://github.com/Giveth/apiGive/issues/5

[2022-05-12 14:26] CarlosQ96 commented on #479
@MoeNick I'll take this task, but could we add some more specific details?
Will it have?
* pagination
* sorting
* filter
Like our projects list in giveth.io or is it more simplified version.

[2022-05-12 14:26] CarlosQ96 commented on #479
Also sorting and filtering based on what fields?

[2022-05-14 04:44] CarlosQ96 opened #509 "Update incomplete donations Manully in adminbro"
Not priority but will be useful if we have this issue in the future.
Related to: https://github.com/Giveth/impact-graph/pull/508

[2022-05-15 10:51] mohammadranjbarz opened #510 "Change status of donations to failed if txHash not found and nonce is used"

[2022-05-16 10:07] aminlatifi opened #511 "Setup New Network Topology on Cloud"
@motoraif and I have discussed how we can improve our service orchestrations and expose our APIs to the outside.
To do that we have defined these steps

Creating API Gateway, including WAF and Load balancer
Setting up Kubernetes to orchestrate our services

[2022-05-16 10:16] aminlatifi opened #512 "Setting up WAF and ALB on Azure"

[2022-05-16 10:16] aminlatifi opened #513 "Setting up kubernetes on Azure"

[2022-05-16 10:30] aminlatifi opened #514 "Setting up Authentication Service"
New Authentication Service is implemented by @CarlosQ96
Now it's time to:

- [x]  Deploy Service on kubernetese https://github.com/Giveth/SiweAuthMicroservice/issues/1
- [x] Define a separate route and API for authentication (like giveth.io/v1/auth) on Gateway
- [x] Develop frontend to use the new service https://github.com/Giveth/giveth-dapps-v2/issues/701
- [x] Develop impact-graph to use the ne

[2022-05-16 10:42] aminlatifi opened #515 "Use Authentication Service to Verify JWT"
After having the authentication service up, impact-graph can use this service to verify user JWT

[2022-05-16 10:42] aminlatifi commented on #515
https://github.com/Giveth/impact-graph/issues/514
https://github.com/Giveth/giveth-dapps-v2/issues/701

[2022-05-16 12:42] mohammadranjbarz opened #516 "Problem in verifying donation with speed up"
@RamRamez  has reported a donation that has used speedup but it seems our backend couldn't verify that
ENV: **Staging**

[code]

[2022-05-16 12:48] mohammadranjbarz commented on #516
@RamRamez Can you put the sped up txHash here?

[2022-05-16 15:54] RamRamez commented on #516
I think this is the hash:
0x2fc0b6244f786687707cd1d0c4926edc2a538954acdd4a8fc0b7af5ef31a910c

[2022-05-17 05:24] mohammadranjbarz opened #517 "Currently we dont care about ENS addresses when verifying donations"

[2022-05-18 02:42] CarlosQ96 commented on #463
Mateo fixed the frontend some frontend issues but this was a month ago and we approved this card, moving it to done.

[2022-05-18 02:43] CarlosQ96 commented on #371
@WhyldWanderer I have this. pull request there. Let me know if this feature still in the horizon or should I close it?

[2022-05-29 05:48] mohammadranjbarz opened #521 "Should just return all field of users to the user himself ( security issue)"
Someone else should not be able to get another person's email ( and maybe other fields)

[2022-05-29 05:49] mohammadranjbarz commented on #521
@MohammadPCh  @RamRamez  @mateodaza

Does it make problem in frontend?

[2022-05-29 07:36] RamRamez commented on #521
@mohammadranjbarz Yeah, for the public profile view we need these information:

![image](https://user-images.githubusercontent.com/73441857/170857482-8b24a9bc-b59a-4e07-b634-dda5d8a5355f.png)

[2022-05-29 07:45] RamRamez commented on #521
@mohammadranjbarz If this is a security issue related to email address, we can talk with design team and remove it but we need the user name.
which end-point you mean? just `userByAddress` or all end-points related to user info?

[2022-05-29 08:50] MoeNick opened #522 "Implement organizationCountry List"

[2022-05-29 09:53] mohammadranjbarz commented on #521
I think all end-points related to user info makes sense,  I think it's ok to have name there

[2022-05-30 10:34] mohammadranjbarz opened #524 "Add status filter for donationsByProjectIdand donationsByUserId query"
related to https://github.com/Giveth/giveth-dapps-v2/issues/730

[2022-05-30 10:43] mohammadranjbarz commented on #524
That filter should be optional, frontend would handle to show what donations to who

- [x] donationsByUserId
- [x] donationsByProjectId

[2022-05-30 14:50] mohammadranjbarz opened #526 "Change verified term to confirmed in donations statuses"
I remember @divine-comedian  suggested this somewhere to change `verified` to `confirmed` to make it clear because we already use `verified` term for projects
- [ ] Change `verified` to `confirmed`
- [ ] Write migration to change `verified` to `confirmed` for existing donaitons

[2022-06-01 12:01] mohammadranjbarz opened #529 "Implement a webservice for validating accessToken"
with need an end-point in the back-end to check user token validity
for the cases that the user token is expired or wrong for some reason

[2022-06-01 12:03] mohammadranjbarz commented on #529
@CarlosQ96
@FatemeGhasemi
Do you have bandwidth for implementing this?

[2022-06-01 12:50] aminlatifi commented on #529
I think we should see it in all write API calls!

[2022-06-24 18:32] divine-comedian commented on #367
teting on `serve.admin`

I'm not sure this is working..

on the project page in the admin dashboard I see the option to export filter to CSV I've tried a few things all with the same result:

- selecting a few or all projects on the page with the checkbox and hitting export
- applying a filter and hitting export
- applying a filter then selecting a few projects then hitting export

all attempts to

[2022-06-27 09:01] MoeNick opened #544 "Backend: Adding sorting value to list of tokens."

[2022-06-27 09:08] #108 closed, assigned to cquinterom096

[2022-06-27 14:15] MoeNick commented on #289
@jeevanplus007
pls take a look.
@mohammadranjbarz would u pls provie some test scenarios?

[2022-06-27 14:44] #526 closed, assigned to nobody

[2022-06-27 16:31] mohammadranjbarz commented on #289
@MoeNick  @jeevanplus007
You should donate an amount that have 6 digits after `.` like `1.1223456` and expected behaviour is that donation should get verified ( succeed) before this PR they were `pending`

[2022-06-28 09:00] mohammadranjbarz commented on #544
@MohammadPCh  @MoeNick
I added `order` field to token entity, and I set `1` for `GIV` token, `2` for native tokens ( like **ETH** in ropsten and mainnet and  **XDAI** in gnosis), and `3` for **WETH** in gnosis, and the order for other tokens ar null, in the list of acceptable tokens, you first get tokens sorted by `order` ascending, and after that you get rest of the list sorted alphabetically

No

[2022-06-28 09:16] MohammadPCh commented on #544
Thank you @mohammadranjbarz
I will implement the front-end and let you know ;)

[2022-06-28 16:36] MoeNick opened #548 "Adding Manual Donation in Admin"
Regarding this https://github.com/Giveth/giveth-dapps-v2/issues/811 For adding donations to the backend, I'd say let's have a feature in Admin, which Admins be able to provide trx hash and it saved in db and get verified later by the cronjob.

[2022-07-03 09:47] mohammadranjbarz opened #551 "Verify old donations manually to make sure about statistics"
Yass wanted some statistics from me about total donations in all the time , when providing this report I knew that we have some donations from last year that their status are `failed` because of some reasons like `toAddress` of transaction is not the same wallet address of project ( it could happen if project address has been changed after adding verification system for donations)

So now we have

[2022-07-04 20:09] laurenluz commented on #551
I think that's a good idea... if we find out that they did actually go through ok and say "failed" because of the verification update, can you change that in the database so they look like good donations & can be tracked well?

[2022-07-05 04:22] mohammadranjbarz commented on #551
Yeah we can change the status directly in db and add a description to that to know it has changed manually

[2022-07-09 11:40] jeevanplus007 commented on #289
**Test Snapshot :**  Tested with 6 digits after Decimal point.
![image](https://user-images.githubusercontent.com/107279959/178103994-40e8b24b-d7c0-4cf5-9eca-8b81d6f45435.png)

[2022-07-11 14:32] jeevanplus007 commented on #529
@mohammadranjbarz Please update your latest comments

[2022-07-11 14:41] jeevanplus007 commented on #367
@CarlosQ96 Can you look into this ?

[2022-07-11 14:47] jeevanplus007 commented on #271
@MoeNick Need to check if this issue needs a fix keep in mind the priority and efforts.

[2022-07-12 05:09] mohammadranjbarz commented on #529
@aminlatifi  @MoeNick
We already have a resolver (meResolver) that @RamRamez  use that to know wether accessToken is valid or not, I think that's enough for now, and we don't need this issue ( at least for now)

[2022-07-14 13:43] MoeNick commented on #548
@mohammadranjbarz you run the verification job after adding this trx? Admin may enter the wrong trx hash. WHat do you suggest?

[2022-07-17 06:19] mohammadranjbarz commented on #548
Actually admin just enter the txHash and we get all data from blockchain ( amount, fromAddress, toAddress, currency), so it's definitely verified, we just can't get price from blockchain and admin enters manually, for instance we are sure that 2 HNY transferred through this transaction, but admin says the HNY was **76$** at that time, and it's the only place that admin can mistake and should be ca

[2022-07-17 06:20] mohammadranjbarz commented on #548
<img width="1097" alt="Screen Shot 1401-04-26 at 10 49 55" src="https://user-images.githubusercontent.com/9850545/179386594-760ffa04-0466-437d-b91c-d75f58451526.png">

[2022-07-17 10:37] jeevanplus007 commented on #396
@RamRamez @mohammadranjbarz - Any Scope for Testing for this Issue ? Any Scenarios to be considered that would help ?

[2022-07-17 10:42] jeevanplus007 commented on #393
@mohammadranjbarz  Are we talking about Admin Panel here ?
Any Snapshots or scenarios for understanding this ?

[2022-07-17 10:46] jeevanplus007 commented on #398
@mohammadranjbarz  @RamRamez - Any Scenarios to Test this. ? Are we Testing "Updates" Tab Project Section ?

[2022-07-17 10:48] mohammadranjbarz commented on #393
@jeevanplus007  It's just have technical side, so you just create/edit project, if it was ok you can move this issue to done

[2022-07-17 10:49] mohammadranjbarz commented on #393
But if you want to know what exactly happens, you can inspect chrome and check network requests, then in the response of create/add project you should see `adminUser` but it's kind of extra work

[2022-07-17 11:37] jeevanplus007 commented on #393
**Test Status :** PASS in STAGING

**Test URL :** https://staging.giveth.io/create

**Test Results :** Create and Edit Projects are working fine.

**Snapshot - Create and Edit Project :**
![image.png](https://images.zenhubusercontent.com/62a3cf4962612d632dd3b42a/23f82197-36e0-4247-a986-d30064f35185)

[2022-07-17 11:39] jeevanplus007 commented on #396
**Test Status :** PASS in STAGING

**Test URL :** https://staging.giveth.io/create

**Test Results :** Create Projects are working fine.

**Snapshot - Create Project :**
![image.png](https://images.zenhubusercontent.com/62a3cf4962612d632dd3b42a/40149022-c058-445e-b1f2-cfcf69bbc6d2)

[2022-07-17 11:41] jeevanplus007 commented on #398
**Test Status :** PASS in STAGING

**Test URL :** https://staging.giveth.io/create

**Test Results :** Update Projects are working fine.

[2022-07-18 06:33] MoeNick commented on #548
jfyi @WhyldWanderer about probable mistake of admin to use wrong price, it's possible

[2022-07-18 11:32] MoeNick opened #564 "Admin: Export is not working."

[2022-07-18 21:34] CarlosQ96 commented on #564
Google API error - [404] Requested entity was not found.
This is the error I think the spreadsheet was either blocked off from access or the user was removed or it was deleted.

[2022-07-18 21:38] CarlosQ96 commented on #564
I'll setup a new spreadsheet or user.

[2022-07-18 22:51] CarlosQ96 commented on #564
Fixed, added a new oauth service user and linked in to the spreadsheet. Please test when you have bandwidth!! @WhyldWanderer @MoeNick

[2022-07-18 22:55] CarlosQ96 commented on #564
I exported 5 projects filtered by giveth succesfully in the spreadsheet. If you need the link to the spreadsheet dm me, but everyone was added.

[2022-07-19 06:39] mohammadranjbarz commented on #398
It was just some refactoring, if updating project works, it means it's ok

[2022-07-19 06:39] mohammadranjbarz commented on #396
It was just some refactoring, if create project works, it means it's ok

[2022-07-19 08:18] mohammadranjbarz opened #565 "Allow projects to have just one recipient address"
@RamRamez  said we need to have it

[2022-07-19 09:30] mohammadranjbarz commented on #565
@MoeNick  @RamRamez
We deployed it on staging

[2022-07-19 15:22] RamRamez opened #567 "verification - show checked icon when email is verified"
When user clicks verify email, personal info get a checked badge. The checked badge should be shown when user has verified the email. We show checked badge based on last step so when user hasn't verified email yet, last step should be `before you start`

@mohammadranjbarz @CarlosQ96

![image](https://user-images.githubusercontent.com/73441857/179787076-2a2c4978-6192-4ed5-b0a6-7ba660e68087.png)

[2022-07-19 20:46] divine-comedian commented on #565
how can this issue be tested?

[2022-07-19 21:51] RamRamez commented on #565
@divine-comedian you test multi recipient address after [this PR](https://github.com/Giveth/giveth-dapps-v2/issues/1135) is merged.

[2022-07-20 06:00] MoeNick commented on #565
Moving it back to code review due to the depency.

[2022-07-20 06:14] mohammadranjbarz commented on #567
After sending each step data we marked that step as done and we change the last step but in personal info after filling the email and sending personal info data you need to verify the mail, so we should change flow of updating lastStep, it may affect the whole flow, so if we want to release these days I recommend don't change it and fix it for next release, because it needs lots of testing(maybe w

[2022-07-20 06:26] MoeNick commented on #565
The dependency merged, so it's now testable with the same scenario of #1150

[2022-07-20 06:28] mohammadranjbarz opened #568 "Review and merge bump dependencies PRs"
I suggest we do it after our current release

- [x] https://github.com/Giveth/impact-graph/pull/533
- [x] https://github.com/Giveth/impact-graph/pull/534
- [x] https://github.com/Giveth/impact-graph/pull/559
- [x] https://github.com/Giveth/impact-graph/pull/561

[2022-07-20 06:36] MoeNick commented on #567
Let's have a talk about this in the daily @RamRamez @RamRamez @MohammadPCh

[2022-07-20 10:05] RamRamez commented on #567
@mohammadranjbarz The other problem that I have is the `managing funds` step doesn't have the checked badge. I think backend doesn't update last step for that.

![image](https://user-images.githubusercontent.com/73441857/179956253-d1cb6c1c-48a2-43ed-9cb2-b046904c419a.png)

[2022-07-20 12:24] mohammadranjbarz commented on #567
@RamRamez  Thanks for reporting this issue , I fixed it, it's deployed on staging ( the reason is that in the backend `managingFunds` step was before milestones, so updating `managingFunds` didn't update`lastStep`)

<img width="1857" alt="Screen Shot 1401-04-29 at 16 53 42" src="https://user-images.githubusercontent.com/9850545/179981083-89580c53-d37a-410b-a451-f60f81528913.png">

[2022-07-20 13:27] jeevanplus007 commented on #396
It is Test Complete. Moving to DONE.

[2022-07-24 05:51] mohammadranjbarz opened #571 "Backend technical debts"

[2022-07-24 05:54] mohammadranjbarz commented on #237
I think it's in an old issue and it no longer exists
@RamRamez @MoeNick  Can we close this?

[2022-07-24 05:57] mohammadranjbarz commented on #334
- [x] categories
- [x] mainCategories

[2022-07-24 05:58] mohammadranjbarz commented on #327
We have implemented test cases for `donations`, so we can move it to done
@MoeNick

[2022-07-24 06:00] mohammadranjbarz commented on #325
`projectByAddress` no longer exists, so we can close this issue
@MoeNick

[2022-07-24 06:02] MoeNick commented on #237
Lets keep it on UAT and test again

[2022-07-24 06:04] #327 closed, assigned to nobody

[2022-07-24 06:04] #325 closed, assigned to nobody

[2022-07-24 06:29] mohammadranjbarz opened #572 "Update typeorm and admin-bro dependencies"

[2022-07-27 08:42] mohammadranjbarz commented on #471
It's done already
You can check https://github.com/Giveth/impact-graph/blob/staging/Dockerfile#L2

[2022-07-27 10:12] RamRamez opened #576 "create a step in back-end for social profiles"
When user clicks next on social profiles step, there is no checked badge for it.

![image](https://user-images.githubusercontent.com/73441857/181222378-cbf859ce-fe85-49de-b6d5-27b74701ba16.png)

[2022-07-27 11:48] CarlosQ96 opened #578 "Add multiple addresses to csv export"
Right now there is no way of knowing if the wallet address of the project is mainnet/xdai on the project. We gotta use the added relations when exporting.

[2022-07-27 14:12] mohammadranjbarz commented on #567
@RamRamez  Now if user is not confirmed the email we should set `null` as their step so frontend will redirect it to first step ( personal info)
It's on staging now, you can test it

[2022-07-27 14:56] MoeNick opened #579 "Change projects query to support multiple filters and some improvement"
@mohammadranjbarz commented on [Wed Jul 27 2022](https://github.com/Giveth/GIVeconomy/issues/672)

---

@mohammadranjbarz commented on [Wed Jul 27 2022](https://github.com/Giveth/GIVeconomy/issues/672#issuecomment-1196813908)

![Screen_Shot_2022-07-27_at_3.39.30_PM.png](https://images.zenhubusercontent.com/5fa7ed7fb0994323d1a66034/bb25f52d-3733-4328-ae2a-a7036b5e77f6)

Now our sorting and filterin

[2022-07-27 15:35] RamRamez commented on #567
@mohammadranjbarz after user confirmed the email, you should change last step, but now it doesn't change

![image](https://user-images.githubusercontent.com/73441857/181288724-28fbf8aa-ec59-45d7-ae70-d610248957f8.png)

![image](https://user-images.githubusercontent.com/73441857/181288817-e883f3b6-ba33-4cd7-ab76-81a4ef4493fd.png)

[2022-07-27 16:15] CarlosQ96 commented on #567
I added the laststep update in the email confirmation, CI-CD deploying

[2022-07-27 18:51] CarlosQ96 commented on #567
@RamRamez Its up in staging you can test when verifying an email it should set the laststep to "profileInfo"

[2022-07-27 19:29] RamRamez commented on #567
Thanks. It's ok now.

[2022-07-29 20:07] CarlosQ96 commented on #579
Pr ready for review @MoeNick @mohammadranjbarz
Link: https://github.com/Giveth/impact-graph/pull/580

[2022-07-29 20:08] CarlosQ96 commented on #579
Filters are based off the image. Let me know if any other filter is required.

Btw Givback Elegible and Verified is exactly the same.

[2022-07-31 09:51] mohammadranjbarz commented on #579
@alireza-sharifpour  @MoeNick
It's deployed on staging , @CarlosQ96  explained how you can call the query here
https://github.com/Giveth/impact-graph/pull/580#issuecomment-1199907827

`FilterField` can be :
* **Verified**
* **Traceable**
* **AcceptGiv**
* **GivingBlock**

`SortingField` can be:
* **MostFunded**
* **MostLiked**
* **Newest**
* **Oldest**

Query sample
[code]

[2022-08-01 06:34] mohammadranjbarz opened #581 "Remove unused pub subs"

[2022-08-01 06:34] mohammadranjbarz commented on #581
We have a bunch of unused pub/subs in resolvers that can be deleted

[2022-08-01 06:34] mohammadranjbarz commented on #581
We have a bunch of unused pub/subs in resolvers that can be deleted

[2022-08-01 06:53] mohammadranjbarz opened #582 "Refactor admin bro handlers"

[2022-08-01 06:57] mohammadranjbarz commented on #582
admin bro handler functions are too long, we should refactor it and split it into some small functions

[2022-08-01 11:36] mohammadranjbarz opened #583 "Remove users field from project if it's not needed"

[2022-08-03 12:47] CarlosQ96 commented on #578
@WhyldWanderer The multiple addresses csv was merged! you can test!

[2022-08-08 13:49] divine-comedian commented on #579
Where and how can this be tested?

[2022-08-08 13:54] MoeNick commented on #579
Env: https://givfilter.vercel.app/
Test Scenarios:
The same with front-end scenarios, all sorting/filtering should work fine and be checked with facts. all sorting scenarios, all filtering scenarios and both of the together when selected at the same time.
Also on the load more, the filtered and sorted result should not change.

[2022-08-09 20:20] divine-comedian commented on #579
testing on `https://givfilter.vercel.app/projects`
test on brave browser and firefox

I can test a combination of scenarios add a sorting and a combination of different filters. the project page updates and shows me the correct projects depending on the options I chose.

I notice there are two strange bugs:

**The first**, sometimes on **firefox** when I log in while browsing projects I can hit th

[2022-08-12 16:10] giantkin commented on #567
Testing on https://staging.giveth.io/verification/test-isuee-1  Goin through flow, completing each step, CHECK icon showed on each.
![image.png](https://images.zenhubusercontent.com/62f673323e5f851807aa0fdc/5a5df57d-a10a-4c33-bdca-9b5e87df5b7b)

[2022-08-12 16:11] divine-comedian commented on #567
looks good moving to done!

[2022-08-14 09:36] #544 closed, assigned to mohammadranjbarz

[2022-08-15 13:21] #471 closed, assigned to mohammadranjbarz

[2022-08-15 13:22] #390 closed, assigned to mateodaza, CarlosQ96

[2022-08-15 13:22] #393 closed, assigned to mohammadranjbarz

[2022-08-15 13:22] #398 closed, assigned to mohammadranjbarz

[2022-08-15 13:22] #380 closed, assigned to mohammadranjbarz

[2022-08-15 13:22] #381 closed, assigned to mohammadranjbarz

[2022-08-15 13:22] #407 closed, assigned to mohammadranjbarz

[2022-08-15 13:22] #416 closed, assigned to mohammadranjbarz

[2022-08-15 13:22] #296 closed, assigned to mohammadranjbarz

[2022-08-15 13:22] #336 closed, assigned to CarlosQ96

[2022-08-15 13:22] #422 closed, assigned to CarlosQ96

[2022-08-15 13:27] CarlosQ96 commented on #579
@alireza-sharifpour I think this might be a frontend issue? Or both, let me know and we can check.

[2022-08-15 13:31] MoeNick commented on #579
According to @alireza-sharifpour it was the Front end and it's solved now, moving to Unit Test, @divine-comedian can you confirm the problem is solved or not?

[2022-08-15 13:32] alireza-sharifpour commented on #579
This issue is fixed
You can check on:
https://givfilter.vercel.app/

[2022-08-15 18:49] divine-comedian commented on #579
I can now sucessfully select two filets and the load more button works, I see also the new loading animation. I took this quick loom video to show how it all looks:
https://www.loom.com/share/51d3b968c9044ac7a390d3471490e54d

calling this done moving to unit test passed.

[2022-08-16 09:58] aminlatifi opened #591 "GIVpower boosting database schema"
These values should be saved in DB
- givpower allocation percentage per user and project
- Accumulated user power in the last two weeks
- ~~Total percentage of givpower allocated by user~~
- Total givPower allocated to each project

Note: I have searched about Postgres triggers. I think we can use this feature to keep data consistency (not more than 100% allocation per user) and update user total

[2022-08-16 10:05] aminlatifi opened #592 "Boosting api - get user-project allocation"
Fetch user-project boosting allocation. It supposed to have these filters
- userId
- projectId

This API will be used for three use cases
- Project view (who has allocated to)

This API should support pagination and sorting (sort by date and percentage)

This query must join user information like: name

[2022-08-16 10:29] aminlatifi opened #593 "Boosting api - set user-project allocation"
Set user-project boosting allocation percentage.

This API should accept an array of <projectId, percentages> tuples. So it should enable the user to set percentages of one or multiple projects(for dashboard use case) in one query

**Validations:**
Each user can allocate to a limited number of projects. Consider the limitation of 20 projects.
The allocation percentage precision is 0. (i.e. numbers

[2022-08-16 10:30] aminlatifi opened #594 "Implement average givpower module"
~~Fetch users GIVpower every 4 hours and keep track of them to calculate the average of 2 weeks~~

Since implementing this feature needs lots of dev work and also maintenance will be difficult, I offer implementing an average givpower service per user.

I have ideas to get that data with the help of subgraph.

[2022-08-16 10:33] aminlatifi opened #595 "Boosting - total project GIVpower support"
Every 2 weeks we should update project givpowe balance based on user average GIVpower in last two weeks and percentage at the moment

[2022-08-16 10:33] aminlatifi opened #596 "Rank projects by based on GIVpower boosting"

[2022-08-16 10:37] aminlatifi commented on #596
@MoeNick

[2022-08-16 15:11] laurenluz commented on #596
**GIVpower Ranking**
- Ranking only changes once every two weeks - at the start of the new GIVback round
- A project’s rank is dependent on the GIVpower that they received throughout the previous GIVbacks round
      - A snapshot of GIVpower should be taken every 4 hrs to see what GIVpower is on each project
      - At the end of the round, all those GIVpower snapshots should be averaged and the n

[2022-08-16 16:46] divine-comedian commented on #564
hey @CarlosQ96 can you clarify inside of admin bro what categories we should be able to export to csv?

I can right now I can only export the `project` category

I click export and it says projects successfully exported but I am not prompted to download any export file..

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/67759413/184934595-fb72bf66-854e-48b2-8d81-b8099e7

[2022-08-17 08:17] mohammadranjbarz commented on #591
* **Power boosting**

| name       | type    | required | validation     |
|------------|---------|----------|----------------|
| projectId  | integer | yes      |                |
| userId     | integer | yes      |                |
| percentage | integer | yes      | min=0, max-100 |

* **Power boosting snapshot**

| name       | type    | required | description                 |
|------------|-

[2022-08-18 01:29] mateodaza opened #597 "Migrate test network from Kovan/Ropsten to Goerli on backend"
Specially for features like

- [x]  All Donating flow, from fetching prices and saving right amounts
- [x]  Token list given chainID: 5 (Goerli)
     Test tokens can be:
     goerliDAI: 0xdc31Ee1784292379Fbb2964b3B9C4124D8F89C60
     DRGIV3: 0xA2470F25bb8b53Bd3924C7AC0C68d32BF2aBd5be
- [x]  (Fill here if I miss something)

@CarlosQ96 @mohammadranjbarz

[2022-08-21 11:45] aminlatifi commented on #591
By new design (givpower of a user is used 100% or 0%), it doesn't make sense to have this _Total percentage of givpower allocated by user_

[2022-08-22 07:34] mohammadranjbarz commented on #597
Thanks @mateodaza for creating this issue and add information to this, I'm working on it

[2022-08-23 06:19] #289 closed, assigned to mohammadranjbarz

[2022-08-23 06:19] #273 closed, assigned to mohammadranjbarz

[2022-08-23 06:19] #341 closed, assigned to mohammadranjbarz

[2022-08-23 06:20] #267 closed, assigned to mateodaza, CarlosQ96

[2022-08-23 06:21] #567 closed, assigned to mohammadranjbarz, CarlosQ96

[2022-08-23 10:42] mohammadranjbarz commented on #597
@mateodaza  We merged the impact-graph on staging, can you check the frontend?

[2022-08-24 06:24] aminlatifi commented on #594
Implemented the required subgraph features by https://github.com/Giveth/givpower-subgraph/pull/20
Also prepared a react app which includes the algorithm of computing average givpower https://github.com/aminlatifi/givpower-average-balance/blob/03c801ccc09b2e9edd82e6e5cf32eca48e1f1539/src/lib/averageCalculator.ts#L36

@laurenluz @Cotabe @MoeNick
For testing purposes, it's deployed here https://class

[2022-08-25 21:17] mohammadranjbarz opened #601 "See lots of failed donation with this description "Transaction not found and nonce is used""
I have used lots of failed donation with **Transaction not found and nonce is used** `verifiedErrorMessage`, I changed their status manually in db and set `verified manually` message for them, but we have to find the cause

related to https://github.com/Giveth/giveth-dapps-v2/issues/1434

[2022-08-28 06:48] mohammadranjbarz opened #602 "Add isSignedIn field to response of userByAddress query"
@MohammadPCh  Suggested we add this to response of `userByAddress` query, then frontend will know wether user is logged-in or not( now they check the email in the response that it's not the best way)

[2022-08-29 13:39] aminlatifi commented on #593
@mohammadranjbarz and I concluded
1. We will have an API for setting single project boosting. In this scenario, the user sets boosting for a single project and the rest of the positive boosting adapt their values as the sum of all user boosting values becomes 100%
2. Another API for setting multiple boosting values. The sum of these values must be 99% to 100%. A successful full call to this API ca

[2022-08-29 13:53] #271 closed, assigned to mateodaza

[2022-08-31 06:45] mohammadranjbarz commented on #602
@MohammadPCh  It's deployed on staging

[2022-08-31 11:47] MoeNick commented on #594
How we can QA this @aminlatifi ?

[2022-08-31 12:17] aminlatifi commented on #594
It's the demo link https://classy-custard-036713.netlify.app/
It must show you the correct average GIVpower any account gained by givpower test env https://givpower.vercel.app/givfarm
Testers can stake and lock their token and compare the value they calculate and the value demo dashboard shows

[2022-09-01 12:18] mohammadranjbarz opened #609 "Add enable/disable cron jobs by config"
We need to add ability of switching off/on of cronjobs in config, the when we want to cluster application , we assign just one instance to process cronjobs and would not get any conflicts when running multiple instance/replica

https://discord.com/channels/679428761438912522/955413352224555069/1014849575397380146

@mhmdksh

[2022-09-03 07:53] mohammadranjbarz opened #612 "Add sorting to list of mainCategories and sub categories"
We should add field named `priority` to both `category` and `mainCategory` tables, and when returning list of them we should sort them by priority.
@MoeNick please put the priority values here, because we have to write migration files to fill them in both staging and production servers

[2022-09-03 09:59] #391 closed, assigned to mohammadranjbarz

[2022-09-03 09:59] #500 closed, assigned to mohammadranjbarz

[2022-09-03 10:00] #379 closed, assigned to aminlatifi, mohammadranjbarz, CarlosQ96

[2022-09-04 07:37] mohammadranjbarz opened #613 "Deploy powerboosting on develop( not staging) ENV"
We dont want to merge #600 for now, so we deploy it in develop ENV then frontend can use that until we get ready to merge it on staging

[2022-09-04 07:42] aminlatifi commented on #613
@MoeNick I and @mohammadranjbarz decided to deploy Power Boosting feature on develop env impact-graph and don't make the staging env dirty.

The server will be accessible at https://dev.serve.giveth.io/

[2022-09-04 10:56] mohammadranjbarz commented on #613
@MohammadPCh

we deployed power boosting feature on develop ENV (https://dev.serve.giveth.io)

Now you can use below queries/mutaions

* Set power boosting for single project
https://github.com/Giveth/impact-graph/blob/28725b924353e588eb5217ef8df1732f93223259/test/graphqlQueries.ts#L1365-L1379

* Set power boosting for multiple projects
https://github.com/Giveth/impact-graph/blob/28725b924353e588e

[2022-09-05 14:46] MoeNick commented on #591
Ranking by the user service is still missing @mohammadranjbarz

[2022-09-06 05:29] aminlatifi opened #620 "Update dockerfile to execute js files rather than ts"
After this https://github.com/Giveth/impact-graph/pull/619, we are able to compile typescript to javascript completely.
In docker file we should apply these changes:
1. compile typescript files and have result js files in the `./build` directory
2. replace executing typescript files by executing js files

**Note:** We must be sure the server works correctly after this change

[2022-09-06 09:42] mohammadranjbarz opened #622 "Update/Add project ranking based on user's power and power boostings"

[2022-09-07 08:24] #601 closed, assigned to mohammadranjbarz, CarlosQ96

[2022-09-07 08:54] MoeNick commented on #612
Let's sort them Alphabetically. First in Main Categories then in Sub Categories.

[2022-09-07 10:45] #66 closed, assigned to mohammadranjbarz

[2022-09-07 10:46] #77 closed, assigned to mohammadranjbarz, cquinterom096

[2022-09-07 10:46] #94 closed, assigned to cquinterom096, divine-comedian

[2022-09-07 10:46] #126 closed, assigned to cquinterom096

[2022-09-07 10:47] #132 closed, assigned to mohammadranjbarz

[2022-09-07 10:47] #136 closed, assigned to mohammadranjbarz

[2022-09-07 10:47] #170 closed, assigned to mohammadranjbarz, CarlosQ96

[2022-09-07 10:47] #179 closed, assigned to mohammadranjbarz

[2022-09-07 10:47] #248 closed, assigned to CarlosQ96

[2022-09-07 10:47] #251 closed, assigned to mohammadranjbarz

[2022-09-07 10:47] #295 closed, assigned to mohammadranjbarz, mateodaza

[2022-09-07 10:47] #299 closed, assigned to mohammadranjbarz

[2022-09-07 10:47] #302 closed, assigned to mohammadranjbarz

[2022-09-07 10:47] #337 closed, assigned to mohammadranjbarz

[2022-09-07 10:47] #338 closed, assigned to mateodaza, CarlosQ96

[2022-09-07 10:47] #342 closed, assigned to mohammadranjbarz, divine-comedian, CarlosQ96

[2022-09-07 10:47] #138 closed, assigned to mateodaza, divine-comedian

[2022-09-07 10:47] #145 closed, assigned to nobody

[2022-09-07 10:47] #147 closed, assigned to divine-comedian

[2022-09-07 10:47] #149 closed, assigned to mohammadranjbarz

[2022-09-07 10:47] #182 closed, assigned to divine-comedian, CarlosQ96

[2022-09-07 10:47] #201 closed, assigned to DonnaOftadeh, CarlosQ96

[2022-09-07 10:47] #204 closed, assigned to CarlosQ96

[2022-09-07 10:47] #206 closed, assigned to CarlosQ96

[2022-09-07 10:47] #261 closed, assigned to mohammadranjbarz

[2022-09-07 10:47] #264 closed, assigned to CarlosQ96

[2022-09-07 10:47] #276 closed, assigned to mohammadranjbarz

[2022-09-07 10:47] #278 closed, assigned to mohammadranjbarz, mateodaza, CarlosQ96

[2022-09-07 10:47] #280 closed, assigned to mohammadranjbarz

[2022-09-07 10:47] #304 closed, assigned to CarlosQ96

[2022-09-07 10:47] #309 closed, assigned to mohammadranjbarz

[2022-09-07 10:47] #312 closed, assigned to mohammadranjbarz

[2022-09-07 10:47] #323 closed, assigned to nobody

[2022-09-07 10:47] #343 closed, assigned to mohammadranjbarz

[2022-09-07 10:47] #347 closed, assigned to CarlosQ96

[2022-09-07 10:47] #359 closed, assigned to mohammadranjbarz

[2022-09-07 10:47] #152 closed, assigned to mohammadranjbarz, CarlosQ96

[2022-09-07 10:47] #158 closed, assigned to WhyldWanderer, CarlosQ96

[2022-09-07 10:47] #160 closed, assigned to CarlosQ96

[2022-09-07 10:47] #163 closed, assigned to mohammadranjbarz

[2022-09-07 10:47] #208 closed, assigned to mohammadranjbarz, CarlosQ96

[2022-09-07 10:47] #231 closed, assigned to CarlosQ96

[2022-09-07 10:47] #238 closed, assigned to mohammadranjbarz

[2022-09-07 10:47] #243 closed, assigned to mateodaza, CarlosQ96

[2022-09-07 10:47] #285 closed, assigned to mohammadranjbarz

[2022-09-07 10:47] #294 closed, assigned to CarlosQ96

[2022-09-07 10:47] #326 closed, assigned to mohammadranjbarz

[2022-09-07 10:47] #332 closed, assigned to CarlosQ96

[2022-09-07 10:47] #333 closed, assigned to mohammadranjbarz

[2022-09-07 10:47] #361 closed, assigned to CarlosQ96

[2022-09-07 10:47] #367 closed, assigned to CarlosQ96

[2022-09-07 10:47] #372 closed, assigned to mohammadranjbarz

[2022-09-07 10:47] #396 closed, assigned to mohammadranjbarz

[2022-09-07 10:49] #402 closed, assigned to mohammadranjbarz, CarlosQ96

[2022-09-07 10:49] #430 closed, assigned to mohammadranjbarz

[2022-09-07 10:49] #441 closed, assigned to mohammadranjbarz

[2022-09-07 10:49] #445 closed, assigned to mohammadranjbarz

[2022-09-07 10:49] #458 closed, assigned to mohammadranjbarz, CarlosQ96

[2022-09-07 10:50] #463 closed, assigned to CarlosQ96

[2022-09-07 10:50] #522 closed, assigned to mohammadranjbarz

[2022-09-07 10:52] #578 closed, assigned to CarlosQ96

[2022-09-07 10:53] #565 closed, assigned to mohammadranjbarz

[2022-09-07 19:30] CarlosQ96 opened #626 "Users can register with the same email but different wallet"
We need to add uniqueness to emails, this is getting confusing for us debugging and the users when login in and not finding their project.
Assigning myself and Mohammad for now, whoever has time.

[2022-09-07 19:31] CarlosQ96 commented on #626
@MoeNick

[2022-09-08 06:20] mohammadranjbarz commented on #626
As I remember it's something that should @MoeNick and @markoprljic decide, I agree that the non-uniqueness of emails makes some problems

[2022-09-08 06:59] mohammadranjbarz commented on #503
https://serve.giveth.io/health
https://mainnet.serve.giveth.io/health

[2022-09-08 07:22] maryjaf commented on #612
Sorting is only for the list of categories and sub-categories on the Create and Edit Project page
Or the list of categories be displayed in alphabetical order on the project details page?

<img width="1331" alt="image" src="https://user-images.githubusercontent.com/111529185/189060583-ca5e89d7-7b70-426c-8604-f21b2dac29d1.png">

[2022-09-08 10:38] aminlatifi commented on #572
It seems the current version of typeorm doesn't support upsert. It's important now as we are implementing automatic cron jobs to insert to db. If any of them does a mistake and tries to insert an entity again one round of process would fail

[2022-09-10 14:19] maryjaf commented on #594
What is the formula for calculating the average? @aminlatifi
For example my givpower in 1662817695 is: 18,319.33
after unstake in 1662818324 my givpower is :13,739.5
The average in this interval is 17,926.15464 calculated by what formula?

And another question is the end user of this module human user or front?
If this is a user, a proper error will be given when the date "from "is greater than "t

[2022-09-11 05:44] aminlatifi commented on #594
The value must be the average of the user's givpower at every second of that period! So if you have had an unchanged balance during that period, your average balance corresponding to that period must be 19,319.33. But you may had locked some amount and it was unlocked during the period.

Actually, the average balance will be calculated for fixed length intervals (2 weeks) and saved in the backend.